{%extends "navbar.html"%}
{%block content%}

<form method="post">
	<h2> Přihlaš se :</h2>
	Měj na paměti, že účty se mezi ročníky mažou. Pokud od tebe ještě tento rok registraci nemáme, musíš nejdřív tam.
	<div class="container">
		<div class="row my-1">
			<div class="col-2">
				Email
			</div>
			<div class="col">
				<input type="text" name="email" id="email" maxlength="100" class="form-control"/>
			</div>
		</div>
		<div class="row my-1">
			<div class="col-2">
				Heslo
			</div>
			<div class="col">
				<input type="password" name="password" id="password" maxlength="300" class="form-control"/>	
			</div>
		</div>
		<div class="row my-1">
			<div class="col-2">
				<button type="submit" class="btn em-button">Přihlásit</button>
			</div>
			<div class="col">
				<small>
					Zapoměli jste heslo? <a class="link" href="{{url_for('auth_views.request_reset')}}">Požádat o nové</a>
				</small>
			</div>
		</div>
	</div>
</form>
{%endblock%}