<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/repre_style.css')}}">
    <link href="https://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">
                

    <title>test stránka</title>
</head>
<body>
    <img src="{{url_for('static',filename='graphics/bg.png')}}" alt="EM Logo" class="bg"/>
    <nav>
        <div>

        </div>
        <div class="menu">
            <a href="#">Expedice</a>
            <a href="#">Organizátoři</a>
            <a href="#">Simulace</a>
            <a href="#">Kontakty</a>
            <a href="#">Přihlas se</a>
        </div>
    </nav>
</body>
</html>