/* neumim css */
.alertcolor-info {
    background-color: rgb(253, 235, 138  );
}
.alertcolor-error  {
    background-color: rgb(255, 121, 121);
}
.alertcolor-success {
    background-color: rgb(138, 253, 138  );
}

.fyzik-div {
    background-color: rgb(255,243,125);
}
.konstrukter-div {
    background-color: rgb(255,171,76);
}
.popularizator-div {
    background-color: rgb(90,214,114);
}
.biolog-div {
    background-color: rgb(255, 179, 177);
}
.inzenyr-div {
    background-color: rgb(130,222,249);
}


h2 {
    color: #023975;
}

h3 {
    color: #023975;
}

h4 {
    color: #023975;
}

section {
    background-color: rgb(247, 247, 255);
}

.bug {
    background-color: white;
}