.alertcolor-info {
    background-color: rgb(253, 235, 138  );
    border: 1px solid;
    border-color: rgb(255,215,0);
}
.alertcolor-error  {
    background-color: rgb(255, 121, 121);
    border: 1px solid;
    border-color: red;
}
.alertcolor-success {
    background-color: rgb(138, 253, 138  );
    border: 1px solid;
    border-color: rgb(67,187,67);
}

.fyzik-div {
    background-color: rgb(255,243,125);
}
.konstrukter-div {
    background-color: rgb(255,171,76);
}
.popularizator-div {
    background-color: rgb(90,214,114);
}
.biolog-div {
    background-color: rgb(255, 179, 177);
}
.inzenyr-div {
    background-color: rgb(130,222,249);
}


h2 {
    color: #023975;
}

h3 {
    color: #023975;
}

h4 {
    color: #023975;
    font-style: italic;
}

section {
    background-color: rgb(247, 247, 255);
}

.lighter {
    background-color: white;
}

body{
    background-color: rgb(33,37,41) !important;
}
.dropdown-menu{
    background-color: rgb(33,37,41) !important;
}

.border-orange{
    border: 1px solid;
    border-color: rgb(243,133,8);
}

.content-section{
    background-color: rgb(243,234,224);
}
.progress-section{
    background: linear-gradient(to right,rgb(243,234,224), rgb(243,133,8) );
    font-family: 'Exo 2', sans-serif;
    color: rgb(33,37,41);
    font-weight: bold;
    font-size: large;
}

@media (max-width:1400px) {
    .progress-section{
        font-size: medium;
    }
}

@media (max-width:1200px) {
    .progress-section{
        font-size: small;
    }
}
@media (max-width:992px) {
    .progress-section{
        background: linear-gradient(to bottom,rgb(243,234,224), rgb(243,133,8) );
        font-size: large;
    }
}

.link {
    color: rgb(243,133,8);

}
.link:hover {
    color: #023975;
}

.em-button{
    background-color: rgb(243,133,8);
    color: white;
}

.em-button:hover{
    background-color: rgb(243,234,224);
    color: rgb(243,133,8);
    border-color: rgb(243,133,8);
}

.tr-min-height {
    height: 40px !important;
}