{% extends "navbar.html" %}
{% block content %}

<h3>Informace o domácím kole</h3>
Náplň domácího kola je rozepsaná v jednom z <a class="link" target="_blank" href="https://www.expedice-mars.eu/jak-na-domaci-kolo/">našich článků na webu.</a>

<h3>Motivační formulář</h3>

{% if odevzdany_formular %}
    <p>
        Pokud si myslíš, že ještě něco potřebuješ ve formuláři opravit, napiš nám a my ti ho můžeme znovu zpřístupnit.
    </p>
    <div id="odevzdany_formular">
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Jakým volnočasovým aktivitám se věnuješ?</b>
            <br>
            <p id="1"></p>
            <b>Máš v životě něco, co tě láká nebo co toužíš vyzkoušet?</b>
            <br>
            <p id="2"></p>
            <b>V čem tě zaujala Expedice Mars? Co očekáváš, že ti účast přinese?</b>
            <br>
            <p id="3"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Co považuješ za své silné stránky?</b>
            <br>
            <p id="4"></p>
            <b>Kde vidíš prostor pro své zlepšení?</b>
            <br>
            <p id="5"></p>
            <b>Co si kladeš za cíle do budoucna? Co děláš pro jejich dosažení?</b>
            <br>
            <p id="6"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Jak funguješ v týmové spolupráci? Znáš svou roli v týmu? Nebo pracuješ raději o samotě?</b>
            <br>
            <p id="7"></p>
            <b>Co si představuješ pod pojmem “úspěch“?</b>
            <br>
            <p id="8"></p>
            <b>Chtěl bys nám ještě sdělit něco, co nebylo součástí formuláře? </b>
            <br>
            <p id="9"></p>
        </div>
    </div>
{% else %}
    <div class="border-orange rounded-2 my-2 p-2 lighter"r>
        Motivační formulář od tebe ještě odevzdaný nemáme.
    </div>
{% endif %}
<hr>
<h3>Shrnutí práce</h3>
<div id="ukazat_shrnuti" class="border-orange rounded-2 my-2 p-2 lighter"></div>
<hr>
<h3>Práce domácího kola</h3>
<div id="ukazat_praci" class="border-orange rounded-2 my-2 p-2 lighter"></div>

<script type="module" src="{{url_for('static', filename='js/ucastnik/info.js')}}"></script>
{% endblock %}