{% extends "navbar.html" %}
{% block content %}
<h2>Motivační formulář</h2>

{% if odevzdany_formular %}
    Formulář už od tebe máme vyplněný. 
{% else %}
    Odpověz nám na několik otázek. Rádi bychom poznali tebe, tvé koníčky nebo tvé silné stránky, prodej se. Neboj se rozepsat, oceníme to. Vždy při kliknutí na <code>další</code> a <code>předchozí</code> se tvé odpovědi uloží, takže se k nim můžeš vrátit později. Na konci formuláře je potom místo pro odeslání. 
    <hr>
    <form method="post">
        {% if blok_otazek == 1 %}
            <p>
                Jakým volnočasovým aktivitám se věnuješ?
            </p>
            <textarea class="form-control" id="1" name="1" rows="3"></textarea>
            
            <p>
                Máš v životě něco, co tě láká nebo co toužíš vyzkoušet?
            </p>
            <textarea class="form-control" id="2" name="2" rows="3"></textarea>

            <p>
                V čem tě zaujala Expedice Mars? Co očekáváš, že ti účast přinese? 
            </p>
            <textarea class="form-control" id="3" name="3" rows="3"></textarea>
            
            <button class="btn em-button my-2" type="submit" value="1" name="dalsi">Další (2/3)</button>

        {% elif blok_otazek == 2 %}
            
            <p>
                Co považuješ za své silné stránky?
            </p>
            <textarea class="form-control" id="4" name="4" rows="3"></textarea>
            
            <p>
                Kde vidíš prostor pro své zlepšení?
            </p>
            <textarea class="form-control" id="5" name="5" rows="3"></textarea>
            
            <p>
                Co si kladeš za cíle do budoucna? Co děláš pro jejich dosažení?
            </p>
            <textarea class="form-control" id="6" name="6" rows="3"></textarea>
            
            <button class="btn em-button my-2" type="submit" value="2" name="predchozi">Předchozí (1/3)</button>
            <button class="btn em-button my-2" type="submit" value="2" name="dalsi">Další (3/3)</button>


        {% elif blok_otazek == 3 %}
            
            <p>
                Jak funguješ v týmové spolupráci? Znáš svou roli v týmu? Nebo pracuješ raději o samotě?
            </p>
            <textarea class="form-control" id="7" name="7" rows="3"></textarea>
            
            <p>
                Co si představuješ pod pojmem “úspěch“?
            </p>
            <textarea class="form-control" id="8" name="8" rows="3"></textarea>
            
            <p>
                Chtěl bys nám ještě sdělit něco, co nebylo součástí formuláře?
            </p>
            <textarea class="form-control" id="9" name="9" rows="3"></textarea>
            <button class="btn em-button my-2" type="submit" value="3" name="predchozi">Předchozí (2/3)</button>
            <button class="btn btn-success my-2" type="submit" value="whatever" name="odeslat">Odeslat motivační formulář</button>

        {% endif %}
    </form>
{% endif %}

<script type="module" src="{{url_for('static', filename='js/ucastnik/motivacni_formular.js')}}"></script>
{% endblock %}