{% extends "navbar.html" %}
{% block content %}
    <h2>Zadání a výběr odbornosti</h2>
    Zde si vyber odbornost a můžeš začít pracovat na domácí práci. Po výběru ji můžeš odevzdat, čímž se do odbornosti závazně zapíšeš. Pár tipů najdeš na <a class="link" target="_blank" href="https://www.expedice-mars.eu/jak-na-domaci-kolo/">stránkách Expedice.</a>
    <div id="content">

    </div>
    <script type="module" src="{{url_for('static', filename='js/ucastnik/odbornost_vyber.js')}}"></script>
{% endblock %}