{% extends "admin/navbar.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/duha.css')}}">
<h2>Detail uživatele</h2>

<input hidden id="id" value="{{id}}"/>
<div class="container">
    <div class="row">
        <div class="col-lg-9 table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            Jméno:
                        </th>
                        <td id="jmeno">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Příjmení:
                        </th>
                        <td id="prijmeni">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Oslovení 1. pád:
                        </th>
                        <td id="osloveni_1p">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Oslovení 5. pád:
                        </th>
                        <td id="osloveni_5p">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Zájmena:
                        </th>
                        <td id="zajmeno"></td>
                    </tr>
                    <tr>
                        <th>
                            Datum narození:
                        </th>
                        <td id="datum_narozeni"></td>
                    </tr>
                    <tr>
                        <th>
                            Rok maturity:
                        </th>
                        <td id="rok_maturity"></td>
                    </tr>
                    <tr>
                        <th>
                            Země původu:
                        </th>
                        <td id="zeme_puvodu"></td>
                    </tr>
                    <tr>
                        <th>
                            E-mail:
                        </th>
                        <td id="email"></td>
                    </tr>
                    <tr>
                        <th>
                            Telefonní číslo:
                        </th>
                        <td id="telcislo"></td>
                    </tr>
                    <tr>
                        <th>
                            Adresa:
                        </th>
                        <td id="adresa"></td>
                    </tr>
                    <tr>
                        <th>
                            Potvrzený e-mail:
                        </th>
                        <td id="confirmed"></td>
                    </tr>
                    <tr>
                        <th>
                            ID v systému:
                        </th>
                        <td id="id_display"></td>
                    </tr>
                    <tr>
                        <th>
                            Tričko:
                        </th>
                        <td id="tricko"></td>
                    </tr>
                    <tr>
                        <th>
                            E-mail na rodiče:
                        </th>
                        <td id="mail_rodicu"></td>
                    </tr>
                    <tr>
                        <th>
                            Odbornost:
                        </th>
                        <td id="odbornost"></td>
                    </tr>
                    <tr>
                        <th>
                            Jak se o nás dozvěděli:
                        </th>
                        <td id="dozvedeli"></td>
                    </tr>
                    <tr>
                        <th>
                            Alergie / intolerance / diety:
                        </th>
                        <td id="alergie"></td>
                    </tr>
                    <tr>
                        <th>
                            Na jakou školu chodí / půjde:
                        </th>
                        <td id="skola"></td>
                    </tr>
                    <tr>
                        <th>
                            Datum registrace:
                        </th>
                        <td id="datum_registrace"></td>
                    </tr>
                    <tr>
                        <th>
                            Datum odevzdání motivačního formuláře:
                        </th>
                        <td id="datum_motivaku"></td>
                    </tr>
                    <tr>
                        <th>
                            Datum odevzdání shrnutí práce:
                        </th>
                        <td id="datum_shrnuti"></td>
                    </tr>
                    <tr>
                        <th>
                            Datum odevzdání prezentace:
                        </th>
                        <td id="datum_prezentace"></td>
                    </tr>
                </tbody>
            </table>
            <b>Jaké se zobrazují další kroky: </b> <span id="dalsi_kroky"></span>
        </div>
        <div class="col my-4">
            <img src="/file_api/admin_profilovka/{{id}}" width="100%">
        </div>
    </div>
</div>
<hr>
<form method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Progress:</th>
                    <!-- tohle id=progrress je tu kvuli js, if(node) -->
                    <td id="progress"> 
                        <select class="form-select" name="progress" id="progress_select">
                        </select>
                    </td>
                    <td>
                        <button class="btn em-button" type="submit" name="progress_button" value="whatever">Uložit</button>
                    </td>
                </tr>
                <tr>
                    <th>Odbornost:</th>
                    <td>
                        <select class="form-select" name="odbornost" id="odbornost_select">
                        </select>
                    </td>
                    <td>
                        <button class="btn em-button" type="submit" name="odbornost_button" value="whatever">Uložit</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Adminí poznámka:
                    </th>
                    <td>
                        <label for="admin_poznamka">Tuhle poznámku uživatel nikdy neuvidí.</label>
                        <textarea id="admin_poznamka" class="form-control" rows="5" name="admin_poznamka"></textarea>
                        <span id="charcount"></span>
                    </td>
                    <td>
                        <button class="btn em-button" type="submit" name="admin_poznamka_button" value="whatever"> Uložit</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Datum motivačního callu:
                    </th>
                    <td id="datum_motivacniho_callu"></td>
                    <td>
                        <button class="btn em-button m-1" type="submit" value = "whatever" name="odebrat_motivacni_call" id="odebrat_motivacni_call">Odhlásit z motivačního callu</button>
                    </td>
                </tr>
                <!-- id link je tu kvuli odkazu z pohovorů -->
                <tr id="link"> 
                    <th>
                        Meeting link:
                    </th>
                    <td>
                        <input type="text" id="meeting_link" name="meeting_link" class="form-control"></textarea>
                    </td>
                    <td>
                        <button class="btn em-button" type="submit" name="meeting_button" value="whatever">Uložit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<hr>
<form method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>
                        Uzamčené změny osobních údajů: 
                    </th>
                    <td>
                        <span id="uzamcene_zmeny_udaju"></span>
                    </td>
                    <td>
                        <button type="submit" class="btn em-button" name="uzamcene_zmeny_udaju" value="whatever">Toggle</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Uzamčené změny termínu callu: 
                    </th>
                    <td>
                        <span id="uzamcene_zmeny_callu"></span>
                    </td>
                    <td>
                        <button type="submit" class="btn em-button" name="uzamcene_zmeny_callu" value="whatever">Toggle</button>
                    </td>
                </tr> 
                <tr>
                    <th>
                        Uzamčené změny nahrání nové práce: 
                    </th>
                    <td>
                        <span id="uzamcene_zmeny_prace"></span>
                    </td>
                    <td>
                        <button type="submit" class="btn em-button" name="uzamcene_zmeny_prace" value="whatever">Toggle</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Skutečně přítomen na online konferenci:
                    </th>
                    <td>
                        <span id="pritomen_na_konferenci"></span>
                    </td>
                    <td>
                        <button type="submit" class="btn em-button" name="pritomen_na_konferenci" value="whatever">Toggle</button>
                    </td>
                </tr>
                <tr>
                    <th>
                        Skutečně přítomen na Přimi:
                    </th>
                    <td>
                        <span id="pritomen_na_primi"></span>
                    </td>
                    <td>
                        <button type="submit" class="btn em-button" name="pritomen_na_primi" value="whatever">Toggle</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<hr>
<div>
    <h3>Motivační formulář</h3>
    <div id="vyplneny_formular" hidden>
        <form method="post">
            <button class="btn em-button m-1" type="submit" value = "1" name="odebrat_motivacni_formular">Promazat motivační formulář</button>
            <button class="btn em-button m-1" type="submit" value = "1" name="zpristupnit_motivacni_formular">Znovu zpřístupnit motivační formulář k úpravám</button>
        </form>


        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Jaká oblast vědy a techniky tě zajímá?</b>
            <br>
            <p id="1"></p>
            <b>V čem tě zaujala Expedice Mars?</b>
            <br>
            <p id="2"></p>
            <b>Co očekáváš, že ti přinese Expedice Mars?</b>
            <br>
            <p id="3"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Co považuješ za své silné stránky?</b>
            <br>
            <p id="4"></p>
            <b>Kde vidíš prostor pro své zlepšení?</b>
            <br>
            <p id="5"></p>
            <b>Jaké dovednosti můžeš týmu nabídnout?</b>
            <br>
            <p id="6"></p>
            <b>Cítíš se více jako teoretický nebo praktický typ?</b>
            <br>
            <p id="7"></p>
            <b>Jaká role v týmu je ti příjemná?</b>
            <br>
            <p id="8"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Co si kladeš za dlouhodobé cíle?</b>
            <br>
            <p id="9"></p>
            <b>Co děláš pro to, abys dosáhl svých cílů?</b>
            <br>
            <p id="10"></p>
            <b>Co si představuješ pod pojmem “úspěch“ ve své budoucnosti?</b>
            <br>
            <p id="11"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Jakým volnočasovým aktivitám se věnuješ mimo školu a vědu?</b>
            <br>
            <p id="12"></p>
            <b>Máš něco, co bys rád vyzkoušel? (nové hobby, zážitek)</b>
            <br>
            <p id="13"></p>
            <b>Chtěl bys nám sdělit něco, co nebylo součástí formuláře?</b>
            <br>
            <p id="14"></p>
        </div>
        
    </div>

    <div id="nevyplneny_formular" hidden class="border-orange rounded-2 my-2 p-2 lighter">
        Tento účastník zatím motivační formulář neodevzdal.
    </div>
</div>
<hr>
<div>
    <h3>Hodnocení</h3>
    <p>
        Tipy pro to, jak vést motivační call jsou <a class="link" href="{{ url_for('admin_views.struktura_rozhovoru') }}">tady</a>.
    </p>
    <form method="post">
        <button class="btn em-button m-1" type="submit" value="1" name="hodnoceni">Přidat hodnocení</button>
        <div class="container" id="hodnoceni_div">
    </form>
    </div>
</div>
<hr>
<h3>Shrnutí práce</h3>
<div id="ukazat_shrnuti" class="border-orange rounded-2 my-2 p-2 lighter"></div>
<h3>Práce domácího kola</h3>
<div id="ukazat_praci" class="border-orange rounded-2 my-2 p-2 lighter"></div>

<form method="post">
    <button class="btn btn-danger m-1" type="submit" value="1" name="smazat">Smazat uživatele</button>
</form>

<script type="module" src="{{url_for('static', filename='js/admin/detail_usera.js')}}"></script>
{% endblock %}