{% extends "admin/navbar.html" %}
{% block content %}

    <h2>Generování seznamů účastníků</h2>
    <p>
        Generování seznamů funguje ve dvou krocích:
        <ol>
            <li>Nejprve se pomocí kritérií vybere taková podmnožina uživatelů, která nás zajímá</li>
            <li>Potom vybereme, jaká data chceme k těmto uživatelům vypsat.</li>
        </ol>
    </p>
    <hr>
    <div id="vyber">
        <h3>Kritéria, podle kterých se vybere seznam:</h3>
        <div class="row">
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1" id="odbornosti">
                <h4>Odbornost</h4>
                <input type="checkbox" name="odbornost" id="jakakoli_odbornost" checked>
                <label for="jakakoli_odbornost">Jakákoli</label>
                <br>
                <input type="checkbox" name="odbornost" id="bez_odbornosti">
                <label for="bez_odbornosti">Nemá odbornost</label>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1" id="progressy">
                <h4>Postup v Expedici</h4>
                <input type="checkbox" name="postup" id="jakykoli" checked>
                <label for="jakykoli">Jakýkoli</label>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1" id="udaje_ma">
                <h4>Mají údaj</h4>
                <input type="radio" name="udaje_ma" id="nezalezi_ma" checked>
                <label for="nezalezi_ma">Nezáleží na tom</label>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1" id="udaje_nema">
                <h4>Chybí údaj</h4>
                <input type="radio" name="udaje_nema" id="nezalezi_nema" checked>
                <label for="nezalezi_nema">Nezáleží na tom</label>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1">
                <h4>Uzamčenost změn</h4>
                <input type="checkbox" name="uzamcenost_zmen_cokoli" id="uzamcene_zmeny_cokoli" value="cokoli" checked>
                <label for="uzamcene_zmeny_cokoli">Cokoli</label>
                <br>
                <input type="checkbox" name="uzamcenost_zmen" id="uzamcene_zmeny_udaju" value="uzamcene_zmeny_udaju">
                <label for="uzamcene_zmeny_udaju">Uzamčené změny údajů</label>
                <br>
                <input type="checkbox" name="uzamcenost_zmen" id="uzamcene_zmeny_callu" value="uzamcene_zmeny_callu">
                <label for="uzamcene_zmeny_callu">Uzamčené změny callů</label>
                <br>
                <input type="checkbox" name="uzamcenost_zmen" id="uzamcene_zmeny_prace" value="uzamcene_zmeny_prace">
                <label for="uzamcene_zmeny_prace">Uzamčené změny práce</label>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1">
                <h4>Odevzdávání</h4>
                <small><i>Zaškrtnutím např. motivačního formuláře se myslí to, že účastník odevzdal motivační formulář, ale nic dál.</i></small>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="odevzdavani" id="nezalezi_na_odevzdani" value="nezalezi" checked>
                    <label class="form-check-label" for="nezalezi_na_odevzdani">Nezáleží na tom</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="odevzdavani" id="neodevzdany_motivak" value="motivak_chybi">
                    <label class="form-check-label" for="neodevzdany_motivak">Chybí motivační formulář</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="odevzdavani" id="odevzdany_motivak" value="motivak">
                    <label class="form-check-label" for="odevzdany_motivak">Motivační formulář</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="odevzdavani" id="chybi_shrnuti" value="chybi_shrnuti">
                    <label class="form-check-label" for="chybi_shrnuti">Je v domácím kole a chybí shrnutí práce</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="odevzdavani" id="odevzdane_shrnuti" value="shrnuti">
                    <label class="form-check-label" for="odevzdane_shrnuti">Shrnutí práce</label>
                </div>
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="odevzdavani" id="chybi_prezentace" value="chybi_prezentace">
                    <label class="form-check-label" for="chybi_prezentace">Má shrnutí a chybí prezentace</label>
                </div>
            </div>
            
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1">
                <h4>Původ</h4>
                <input type="checkbox" name="jakykoli_puvod" id="jakykoli_puvod" value="cokoli" checked>
                <label for="jakykoli_puvod">Jakýkoli</label>
                <br>
                <input type="checkbox" name="puvod" id="sk" value="sk">
                <label for="sk">Slovensko</label>
                <br>
                <input type="checkbox" name="puvod" id="cz" value="cz">
                <label for="cz">Česká republika</label>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1">
                <h4>Přítomnost na kolech</h4>
                <input type="radio" name="pritomnost" id="pritomnost_nezalezi" checked value="nezalezi">
                <label for="pritomnost_nezalezi">Nezáleží na tom</label>
                <br>
                <input type="radio" name="pritomnost" id="pritomen_na_konferenci" value="konference">
                <label for="pritomen_na_konferenci">Přítomen na konferenci</label>
                <br>
                <input type="radio" name="pritomnost" id="pritomen_na_primi" value="primi">
                <label for="pritomen_na_primi">Přítomen na Přimi</label>
            </div>
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 my-1">
                <h4>K-faktor</h4>
                <small><i>Zaškrtnutím čísla se rozumí, že nejvyšší dosažený k-faktor v jakémkoli hodnocení je právě zvolené číslo.</i></small><br>
                <input type="radio" name="k_faktor" id="k_nezalezi" checked value="nezalezi">
                <label for="k_nezalezi">Nezáleží na tom</label>
                <br>
                <input type="radio" name="k_faktor" id="k_1" value=1>
                <label for="k_1">1</label>
                <br>
                <input type="radio" name="k_faktor" id="k_2" value=2>
                <label for="k_2">2</label>
                <br>
                <input type="radio" name="k_faktor" id="k_3" value=3>
                <label for="k_3">3</label>
                <br>
                <input type="radio" name="k_faktor" id="k_4" value=4>
                <label for="k_4">4</label>
                <br>
                <input type="radio" name="k_faktor" id="k_5" value=5>
                <label for="k_5">5</label>
            </div>
        </div>
        
        
        <hr>
        <h3>Data, která chci k vybraným uživatelům vypsat:</h3>
        <div id="vypsat_selects"></div>
        <button class="btn em-button my-1" type="button" id="novy_sloupecek">Nový sloupeček</button> <br>

        <hr>
        <h3>Seřazení</h3>
        <div>
            <input type="radio" name="razeni" id="razeni_podle_prijmeni" checked value="prijmeni">
            <label for="razeni_podle_prijmeni">Seřadit podle příjmení</label>
            <br>
            <input type="radio" name="razeni" id="razeni_podle_registrace" value="registrace">
            <label for="razeni_podle_registrace">Seřadit podle data registrace</label>
        </div>
        <hr>
        <input type="checkbox" id="filtrovat_orgy">
        <label for="filtrovat_orgy">Aplikovat pouze na organizátory?</label>
        <hr>
        <button id="generovat" class="btn btn-success" type="button">Generovat</button>
    </div>
    <button id="ukazat" hidden type="button" class="btn btn-success">Ukázat výběr kritérií</button>
    <div id="vysledek" hidden>
        <hr>
        <h2>Výsledek:</h2>
        <p>
            E-maily vybraných účastníků: <code id="emaily_vybranych"></code>
        </p>
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr id="tr">

                    </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
        <button class="btn em-button my-1" type="button" id="zkopirovat_button">Zkopírovat pro vložení do Google sheets</button>
    </div>


    <script type="module" src="{{url_for('static', filename='js/admin/generovat_seznamy.js')}}"></script>
{% endblock %}
