{% extends "admin/navbar.html" %}
{% block content %}
    <h2>Motivační call</h2>
    Tady se dají vypisovat nové termíny, do kterých se poté účastníci můžou zapsat. Setkání mají 15minutové bloky. Tipy pro to, jak vést motivační call jsou <a class="link" href="{{ url_for('admin_views.struktura_rozhovoru') }}">tady</a>.

    <form method="post" id="form">
        <h3>Přidat nový den a bloky v něm</h3>
        <label for="date">Datum: </label>
        <input type="date" name="date">
        <label for="start_time">Počáteční čas</label>
        <select id="start_time" name="start_time"></select>
        <label for="end_time">Čas začátku posledního pohovoru</label>
        <select id="end_time" name="end_time"></select>
        <button name="pridat_termin" value="1" class="btn em-button" type="submit">Přidat</button>
        
        <h3>Vypsané termíny</h3>
        <p>
            Účastníci vidí pouze ty termíny, které začínají za <select id="hours_select" name="hours_select"></select> hodin nebo později.
            <button name="zmenit_hodiny" value="1" class="btn em-button" type="submit">Uložit</button>
        </p>
        <button type="button" class="btn btn-danger my-1" id="smazat_vybrane">Smazat vybrané cally</button>
        <button type="submit" class="btn btn-danger mx-1" name="smazat_pod_limit" value="whatever">Smazat cally blíže než <span id="hours_display"></span> h</button>
        <input type="text" hidden name="smazat_ids_list" id="result">
    </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Kdy</th>
                        <th>Kdo to vypsal</th>
                        <th class="text-center">Vybrat</th>
                    </tr>
                </thead>            
                <tbody id="content"></tbody>
            </table>
        </div>
    <h3>Přihlášení účastníci</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Jméno účastníka</th>
                    <th>Kdo to vypsal</th>
                    <th>Link na meeting</th>
                </tr>
            </thead>
            <tbody id="prihlaseni"></tbody>
        </table>
    </div>
    <h3>Proběhlé cally</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Jméno účastníka</th>
                </tr>
            </thead>
            <tbody id="probehly"></tbody>
        </table>
    </div>

    <script type="module" src="{{url_for('static', filename='js/admin/motivacni_call.js')}}"></script>
{% endblock %}