{% extends "admin/navbar.html" %}

{% block content %}
<h2>Účastníci</h2>

<form method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Jméno</th>
                    <th>E-mail</th>
                    <th>Datum registrace</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody id="users"></tbody>
        </table>
    </div>
</form>


<script type="module" src="{{url_for('static', filename='js/admin/registrovani_uzivatele.js')}}"></script>

{% endblock %}