{% extends "admin_base.html" %}
{% block content %}
    <p>
        <h2>16. 6. a role</h2>
        <ul>
            <li>Novej model usera, kterej má role</li>
            <li>V admin prostředí přibylo místo na editaci rolí. To, jak role fungujou, je líp popsaný v readme na  bitbucketu.</li>
            <li>Líp řešený checkování adminů a jejich pod-rolí. Ditchnutí is_admin funkce.</li>
            <li>Templaty, který měněj navbar na základě toho, jakou má user roli.</li>
        </ul>
    </p>
    <p>
        <h2>4. 6. a první brainstorm fíčur</h2>
        Se Soňou jsme narychlo dali dohromady pár věcí, který by stránky měly umět.
    </p>
    <p>
        <h2>11. 5. a začátek týhle šablony</h2>
        11. 5. jsem udělal tuhle šablonu.
    </p>

{% endblock %}