{% extends "admin_navbar.html" %}
{% block content %}

<h2>Přehled fíčur systému</h2>
Intranet Expedice Mars slouží především k usnadnění průběhu internetových kol. Je to prostředí, do kterého se účastníci registrují, zapisují informace o sobě, nahrávají motiváky a práci nebo se přihlašují na pohovory.
<div>
    <hr>
    <h3>Uživatelé</h3>
    <ul>
        <li>Po registraci musí v sekci <code>účet</code> ověřit svůj e-mail, abychom měli spolehlivý komunikační kanál.</li>
        <li>Při přihlašování je možnost obnovy hesla</li>
        <li>Uživatelské účty se každoročně promazávají. Je tedy nutné, aby se každý rok registrovali znovu.</li>
        <li>Po ověření e-mailu se účastníkům odemkne přístup do ostatních sekcí:</li>
    </ul>
    <h4>Účet</h4>
    <ul>
        <li>V sekci účet se zadávají informace o sobě, kontakt na rodiče apod.</li>
        <li>Zobrazují se zde některé informace o účtu, které nejde změnit.</li>
        <li>Nahrává se zde motivační dopis a profilová fotografie.</li>
        <li>Nahraný motivák je možné změnit do té doby, dokud nebudou účtu zakázány změny.</li>
        <li>Je zde ke stažení prohlášení o bezinfekčnosti a souhlas o pořizování fotografií.</li>
    </ul>
    <h4>Info</h4>
    Statická stránka, kde je napevno napsaných pár informací.
    <h4>Termíny</h4>
    Zde se zobrazují termíny přidané organizátory. Mají sloužit pouze k informaci, jejich nedodržení nespouští žádné další akce.
    <h4>Odbornost</h4>
    <ul>
        <li>Zobrazuje se zde kratičký popis všech odborností.</li>
        <li>Při správné fázi EM (viz níže) se zde zveřejní zadání domácího kola a zpřístupní se možnost zapsat se do jedné z odborností.</li>
        <li>Po zvolení odbornosti už nejsou vidět zadání ani popisy dalších odborností.</li>
        <li>Po zvolení odbornosti je zde k nalezení:</li>
        <ul>
            <li>Zadání domácího kola mé odbornosti</li>
            <li>Kontakt na velitele odbornosti</li>
            <li>Možnost nahrát vypracovanou práci</li>
        </ul>
        <li>Nahranou práci je možné měnit do té doby, dokud nebudou účtu zakázány změny.</li>
    </ul>
    <h4>Pohovory</h4>
    <ul>
        <li>Zobrazují se zde vypsané termíny pohovorů</li>
        <li>Účastníci mohou svůj výběr termínu měnit do té doby, dokud nebudou účtu zakázány změny.</li>
        <li>Zobrazuje se zde vybraný termín a odkaz na meeting, pokud ho organizátoři dobře zadali.</li>
    </ul>



    <hr>
    <h3>Admin sekce</h3>
    <h4>Fáze Expedice</h3>
    <ul>
        <li>Fázování expedice je způsob, jak udržet stránky užitečné po celý rok. Je možné se ve fázích vracet zpět, pokud to dává smysl. Ovlivňují např. registrační formulář nebo přístup k zadáním.</li>
        <li>Jsou zatím 4:</li>
        <ul>
            <li>Otevřené registrace. Na homepage se zobrazuje datum uzavření registrací, zadání domácích kol nejsou přístupná. Noví účastníci se smí registrovat, upravovat své profily, nahrávat motiváky.</li>
            <li>Zpřístupněná zadání. Noví účastníci se stále smí registrovat, registrovaní účastníci můžou zvolit odbornost, nahlížet do zadání domácích kol nebo na deadliny.</li>
            <li>Uzavřené registrace. Noví účastníci už se nemohou registrovat. Při registraci je to hodí na mailing_list, kterej bude důležitej potom. V této fázi běží semi, finále, simulace, balón i eurotrip.</li>
            <li>Ukončený ročník. Před ukončením ročníku je potřeba stáhnout export dat, protože ukončení ročníku promaže systém.</li>
        </ul>
    </ul>
    <h4>Export</h4>
    <ul>
        <li>Umožňuje vytáhnout všechny data ze systému.</li>
        <li>Neslouží jako záloha systému.</li>
    </ul>
    <h4>Role uživatelů</h3>
    <ul>
        <li>Každý registrovaný uživatel má nějaké role.</li>
        <li>Účastníci se spokojí s <code>user</code>. Vyplyne-li potřeba nového admina, musí se tento předem registrovat a nějaký další admin ho poté povýší.</li>
        <li>Zatímco <code>user</code> je "jen jeden", rolí adminů je řada. Každá položka v admin sekci je přístupná s určitou rolí. Vypisovat je tu nebudu, protože sem tam přibyde další a tady bych to stopro zapomněl aktualizovat.</li>
        <li>Mezi ty hlavní patří ale určitě:</li>
        <ul>
            <li><code>stanovit_terminy_allowed</code> - oprávnění přidávat a měnit deadliny</li>
            <li><code>prepinani_fazi_allowed</code> - docela jasný snad</li>
            <li><code>editing_bugs_allowed</code> - možnost odpovídat na připomínky na bugtrackeru</li>
            <li><code>editing_users_allowed</code> - možnost nahlížet na registrované uživatele</li>
            <li><code>velitel_odbornosti_/odbornost/</code> - možnost upravovat zadání, kontakty na sebe, nahlížet na svoje svěřence</li>
            <li><code>editing_admins_allowed</code> - oprávnění jmenovat adminy a upravovat jejich role (dětem a blbcům vstup zakázán :P )</li>
        </ul>
    </ul>
    <h4>Poznámky</h4>
    <ul>
        <li>Admini smí přidávat poznámky.</li>
        <li>Slouží jako vzkazy organizátorů jeden deuhému, nebo sobě samotným.</li>
        <li>Účastníci je nikde nevidí a organizátoři je můžou volně vytvářet i mazat.</li>
    </ul>
    <h4>Termíny</h3>
    <ul>
        <li>Organizátoři s patřičnou rolí smí přidávat deadliny.</li>
        <li>Nastavený deadline nic nevynucuje, ale zobrazuje se účastníkům v sekci Termíny</li>
    </ul>
    <h4>Velitelé odborností</h4>
    <ul>
        <li>Organizátoři s patřičnou rolí smí upravovat zadání domácích kol.</li>
        <li>Zadání jde kdykoli nahrát znovu.</li>
        <li>Dá se zde zadat kontakt na sebe / na důstojníky. Zobrazuje se účastníkům a měl by sloužit v případě, že si účastníci s něčím nevědí rady.</li>
    </ul>
    <h4>Pohovory</h4>
    <ul>
        <li>Zvolením data a dvou časů se vypisují termíny na pohovory.</li>
        <li>Účastníci vidí vypsané pohovory a můžou se na ně zapisovat; organizátoři můžou mazat jen neobsazené termíny.</li>
        <li>Je zde také vidět seznam přihlášených účastníků a odkazy na pohovory, jsou-li zadány.</li>
    </ul>
    <h4>Přehledy registrovaných uživatelů</h4>
    <ul>
        <li>Umožňuje přistup k detialnímu přehledu každého účastníka a k jeho souborům.</li>
        <li>Umožňuje generovat seznam účastníků na základě kritérií.</li>
        <li>Místo pro hodnocení motiváků. Hodnotí se slovně, uživatelé tohle hodnocení nikde nevidí.</li>
        <li>V detailu uživatele jde nastavit jeho progress, zakázat změny, napsat admin poznámku či přidat meeting link.</li>
        <li>Udělení souhlasu rodičů je zatím dost k prdu a nedomyšlený, protože to přinesou účastníci až na semi.</li>
        <li>O každém uživateli se uchovává dost metadat.</li>
    </ul>
    <h4>Jmenování adminů</h4> 
    Slouží k úpravě rolí stávajících adminů, nebo k jmenování nových.
    <h4>Ostatní</h4>
    <ul>
        <li>Bugtracker - moožnost přidávat připomínky. Admini je můžou komentovat, popř. mazat.</li>
        <li>App logs file - admin s oprávněním může nahlížet a mazat. Je basically k ničemu, je to debug tool pro pípa.</li>
        <li>Admin logs file - podobný. Trackuje všechny akce adminů.</li>
    </ul>
</div>


{% endblock %}