{% extends "admin_navbar.html" %}

{% block content %}
<h2>Detail uživatele</h2>
<input hidden id="id" value="{{id}}"/>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col">
                    Jméno:
                </div>
                <div class="col" id="jmeno"></div>
            </div>
            <div class="row">
                <div class="col">
                    Datum narození:
                </div>
                <div class="col" id="datum_narozeni"></div>
            </div>
            <div class="row">
                <div class="col">
                    E-mail:
                </div>
                <div class="col" id="email"></div>
            </div>
            <div class="row">
                <div class="col">
                    Telefoní číslo:
                </div>
                <div class="col" id="telcislo"></div>
            </div>
            <div class="row">
                <div class="col">
                    Adresa:
                </div>
                <div class="col" id="adresa"></div>
            </div>
            <div class="row">
                <div class="col">
                    Potvrzený e-mail:
                </div>
                <div class="col" id="confirmed"></div>
            </div>
            <div class="row">
                <div class="col">
                    ID v systému:
                </div>
                <div class="col" id="id_display"></div>
            </div>
            <div class="row">
                <div class="col">
                    Tričko:
                </div>
                <div class="col" id="tricko"></div>
            </div>
            <div class="row">
                <div class="col">
                    E-mail na rodiče:
                </div>
                <div class="col" id="mail_rodicu"></div>
            </div>
            <div class="row">
                <div class="col">
                    Odbornost:
                </div>
                <div class="col" id="odbornost"></div>
            </div>
            <div class="row">
                <div class="col">
                    Jak se o nás dozvěděli:
                </div>
                <div class="col" id="dozvedeli"></div>
            </div>
            <div class="row">
                <div class="col">
                    Hodnocení motiváku:
                </div>
                <div class="col" id="hodnoceni_motivaku"></div>
            </div>
            <div class="row">
                <div class="col">
                    Alergie / intolerance / diety: 
                </div>
                <div class="col" id="alergie"></div>
            </div>
            <div class="row">
                <div class="col">
                    Na jakou školu chodí / půjde: 
                </div>
                <div class="col" id="skola"></div>
            </div>
            <div class="row">
                <div class="col">
                    Datum registrace: 
                </div>
                <div class="col" id="datum_registrace"></div>
            </div>
            <div class="row">
                <div class="col">
                    Datum  pohovoru: 
                </div>
                <div class="col" id="datum_pohovoru"></div>
            </div>
        </div>
        <div class="col">
            <img src="/send_profilovka/{{id}}" width="100%">
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            Progress:
        </div>
        <div class="col">
            <select id="progress">
                <option value="Domácí kolo" id="Domácí kolo">Domácí kolo</option>
                <option value="Semifinále" id="Semifinále">Semifinále</option>
                <option value="Finále" id="Finále">Finále</option>
                <option value="Simulace" id="Simulace">Simulace</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Uzamčené změny:
        </div>
        <div class="col"></div>
        <div class="col" id="uzamcene_zmeny"></div>
        <div class="col">
            <button type="button" id="toggle_zmeny" class="btn btn-outline-primary">Toggle</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Souhlas rodičů:
        </div>
        <div class="col"></div>
        <div class="col" id="souhlas_rodicu"></div>
        <div class="col">
            <button type="button" id="toggle_souhlas" class="btn btn-outline-primary">Toggle</button>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            Adminí poznámka:
        </div>
        <div class="col">
            <label for="admin_poznamka">Tuhle poznámku uživatel nikdy neuvidí.</label>
            <textarea id="admin_poznamka" class="form-control" rows="5"></textarea>
            <span id="charcount"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            Meeting link:
        </div>
        <div class="col">
            <input type="text" id="meeting_link" class="form-control"></textarea>
        </div>
    </div>
    <button class="btn btn-success" id="ulozit_button">Uložit</button>
    <form method="post" id="form">
        <input type="text" hidden id="result" name="result">
    </form>
    
</div>
    <hr>
    <div id="motivak_div">
        <h2>Motivák</h2>
        <a href="/send_motivak/{{id}}/file" download="motivak" id="motivak_download">Stáhnout motivák</a>
        <p id="motivak_disclaimer">Tento uživatel ještě motivák nenahrál. Až se tak stane, půjde zde stáhnout.</p>
    </div>
    <hr>
    <div  id="prace_div">
        <h2>Práce</h2>
        <p id="prace_disclaimer">Tento uživatel ještě práci nenahrál. Až se tak stane, půjde zde stáhnout.</p>
    </div>
    <hr>
<form method="post">
    <button class="btn btn-danger" type="submit" value="1" name="smazat">Smazat uživatele</button>
</form>

<script type="module" src="{{url_for('static', filename='js/admin_detail_usera.js')}}"></script>
{% endblock %}