{% extends "admin_navbar.html" %}
{% block content %}
    <h2>První kontakt</h2>
    Tady se dají vypisovat nové termíny, do kterých se poté účastníci můžou zapsat. Setkání mají 10minutové bloky.
    <h3>Přidat nový den a bloky v něm</h3>
    <form method="post">
        <label for="date">Datum: </label>
        <input type="date" name="date">
        <label for="start_time">Počáteční čas</label>
        <select id="start_time" name="start_time"></select>
        <label for="end_time">Čas začátku posledního pohovoru</label>
        <select id="end_time" name="end_time"></select>
        <button name="pridat_termin" value="1" class="btn em-button" type="submit">Přidat</button>
    </form>
    <h3>Vypsané termíny</h3>
    <p>Termíny blíže než 48 hodin se účastníkům nezobrazují.</p>
    <form method="post">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Kdy</th>
                        <th>Kdo to vypsal</th>
                        <th>Smazat</th>
                    </tr>
                </thead>            
                <tbody id="content"></tbody>
            </table>
        </div>
    </form>
    <h3>Přihlášení účastníci</h3>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Datum</td>
                    <td>Jméno účastníka</td>
                    <td>Kdo to vypsal</td>
                    <td>Link na meeting</td>
                </tr>
            </thead>
            <tbody id="prihlaseni"></tbody>
        </table>
    </div>

    <script type="module" src="{{url_for('static', filename='js/admin_pohovory.js')}}"></script>
{% endblock %}