{% extends "admin_navbar.html" %}
{% block content %}

    <h2>Motiváky a práce</h2>
    <button type="button" id="b1" class="btn btn-success">Uložit</button>
    <div id="content"></div>
    <hr>
    <button type="button" id="b2" class="btn btn-success">Uložit</button>
    <form method="post" id="form">
        <input type="text" hidden name="result" id="result">
    </form>

    <script type="module" src="{{url_for('static', filename='js/admin_motivaky_a_prace.js')}}"></script>
{% endblock %}
