{% extends "admin_navbar.html" %}
{% block content %}
<h2>Stanovení deadlinů</h2>
<hr>
<h3>Termín konce registrace</h3>
<div>
    Tohle datum nic samo o sobě neukončuje, jenom se zobrazuje na úvodní stránce a to jen tehdy, když to dává smysl vzhledem k fázi hry.<br>
    <input type="date" id="registrace_date">
</div>
<hr>
<h3>Nastavitelné termíny</h3>
<div id="terminy"></div>
<hr>
<button type="button" class="btn btn-primary" id="novy_termin">Přidat nový termín</button>
<button type="button" class="btn btn-success" id="ulozit">Uložit</button>


<form method="post" id="form">
    <input hidden id="result" name="result" type="text">
</form>

<script type="module" src="{{url_for('static', filename='js/admin_stanovit_terminy.js')}}"></script>
{% endblock %}