{% extends "admin_navbar.html" %}
{% block content %}
    <p>
        <h2>15. 8. a lepší chování karty Domů v různých fázích</h2>
        <ul>
            <li>Karta domů nyní přesně říká, jak na tom aktuálně hra je a poskytuje useful linky.</li>
            <li>Na uživatelských kartách to flashuje, když je ročník uzavřený.</li>
            <li>Update kousku readme.md</li>
        </ul>
    </p>
    <p>
        <h2>6. 8. a checkerbox u registrace</h2>
        <ul>
            <li>Při registraci se nyní musí souhlasit se zpracováním osobních údajů.</li>
        </ul>
    </p>
    <p>
        <h2>30. 7. a uploadování zadání</h2>
        <ul>
            <li>Velitelé odborností můžou nahrávat zadání, několik souborů naráz klidně.</li>
            <li>Zadání jde smazat a nahrát znova</li>
            <li>Uživatelé vidí všechna zadání při výběru odbornosti</li>
            <li>A pak už jen to svoje po výběru odbornosti</li>
            <li>Default profilovka</li>
            <li>User už má data o velikosti trička</li>
        </ul>
    </p>
    <p>
        <h2>25. 7. a změny v readme</h2>
        <ul>
            <li>Upravil jsem zastaralý info v readme na bitbucketu.</li>
        </ul>
    </p>
    <p>
        <h2>24. 7. a lepší zobrazování metadat v admin sekci</h2>
        <ul>
            <li>Json metadat o userech se zobrazuje s indentem.</li>
            <li>Json metadat o adminech se zobrazuje při úpravě rolí.</li>
            <li>Záznamy v logs jsou česky.</li>
        </ul>
    </p>
    <p>
        <h2>23. 7. a přejmenování kooridnátora na velitele odbornosti</h2>
        <ul>
            <li>jo</li>
            <li>taky jsem sem do admin sekce přidal link na source.</li>
        </ul>
    </p>
    <p>
        <h2>8. 7. a datum konce registrace</h2>
        <ul>
            <li>Datum konce registrace se nyní zobrazuje na homepage.</li>
            <li>Úklid částí kódu</li>
            <li>Napravení funkčnosti logout endpoitnu.</li>
            <li>Začal jsem psát přehled fíčur na admin dashboard</li>
        </ul>
    </p>
    <p>
        <h2>5. 7. a termín konce registrace</h2>
       <ul>
            <li>V termínech jde upravit konec registrace, zatím to ale nic nedělá. Termíny ho správně (ne)zobrazujou.</li>
            <li>Admin dashboard získal nadpisy pro to, co mu ještě chybí.</li>
       </ul> 
    </p>
    <p>
        <h2>30. 6. a upozoenění na zadání</h2>
        <ul>
            <li>V druhé fázi se adminovi zobrazí seznam lidí, které je třeba upozornit na nově zveřejněné zadání.</li>
        </ul>
    </p>
    <p>
        <h2>29. 6. a zobrazení profilovky</h2>
        <ul>
            <li>V profilu teď je vidět nahraná profilovka.</li>
        </ul>
    </p>
    <p>
        <h2>23. 6. a kontakt na koordinátora</h2>
        <ul>
            <li>Koordinátoři maj svojí stránku v admin prostředí</li>
            <li>Můžou tam dát kontakt na sebe či další koordinátory, ten se pak zobrazí na stránce odbornosti kidů.</li>
        </ul>
    </p>
    <p>
        <h2>22. 6. a volba odbornosti</h2>
        <ul>
            <li>Nová stránka k odbornostem. V závislosti na fázi hry je tam vidět pouze popis odborností nebo zadání.</li>
            <li>Po vybrání odbornosti je tam prostor k zobrazení zadání a kontaktu na koordinátory</li>
            <li>backend: base.html bylo prejmenovano na navbar.html</li>
        </ul>
    </p>
    <p>
        <h2>21. 6. a user data</h2>
        <ul>
            <li>Uživatel si může nastavit hromadu metadat</li>
            <li>Userovi se zakládá složka user_data/id, kam se nahraje profilovka</li>
        </ul>
    </p>
    <p>
        <h2>20. 6. a novej user model</h2>
        <ul>
            <li>User teď má hromadu dalších polí v tabulce</li>
            <li>Skript na jmenování admina lepší - odebranej koncept superadmina</li>
            <li>User_objekt muze mit user i admin nezavisle na sobe, pokazdy se jde logoutnout.</li>
            <li>Jmenování adminů lepší</li>
        </ul>
    </p>
    <p>
        <h2>19. 6. a dodělanej mailing  list</h2>
        malej update - ve fázi otevřených registrací je vidět mailing list, maily jdou zkopírovat a mailing list jde promazat.
    </p>
    <p>
        <h2>18. 6. a zakázaný registrace při danejch fázích</h2>
        <ul>
            <li>Při dvou posledních fázích se už nedá registrovat. Email to přidá na mailing-list.</li>
            <li>Lehce vylepšenej vzhled auth stránek na mobilech.</li>
            <li>Přidaná složka pro helper functions, pouklízení kódu.</li>
        </ul>
    </p>
    <p>
        <h2>17. 6. a fáze EM</h2>
        <ul>
            <li>Založení user_views</li>
            <li>Prostředí pro nastavování deadlinů</li>
            <li>V admin prostředí jdou s patřičnou rolí posouvat fáze hry.</li>
        </ul>
    </p>
    <p>
        <h2>16. 6. a role</h2>
        <ul>
            <li>Novej model usera, kterej má role</li>
            <li>V admin prostředí přibylo místo na editaci rolí. To, jak role fungujou, je líp popsaný v readme na  bitbucketu.</li>
            <li>Líp řešený checkování adminů a jejich pod-rolí. Ditchnutí is_admin funkce.</li>
            <li>Templaty, který měněj navbar na základě toho, jakou má user roli.</li>
        </ul>
    </p>
    <p>
        <h2>4. 6. a první brainstorm fíčur</h2>
        Se Soňou jsme narychlo dali dohromady pár věcí, který by stránky měly umět.
    </p>
    <p>
        <h2>11. 5. a vytvoření šablony pro stránky</h2>
        11. 5. jsem udělal tuhle šablonu, která zvládá jednotnej vzhled, login systém, bug tracker a reset hesel.
    </p>

{% endblock %}