{% extends "admin_navbar.html" %}
{% block content %}
<h2>
    Plánované featury
</h2>
<ul>
    <li>Support pro simu?</li>
    <li>Na admin dashbboard dát texty mailů, který se rozesílaj</li>
    <li>Generování seznamů účastníků do .pdf a opravit je prostě</li>
    <li>Poznávačka účastníků</li>
    <li>Admini si budou moct zaškrtávat účast na přípravné a simulované misi</li>
    <li>Domů stránka jako rozcestník na repre web</li>
    <li>Stránka pro užitečné odkazy</li>
    <li>Opravdu chcete odejít? Máte neuložené změny popup</li>
    <li>Předělat ukládání poznámek a bugů (ano, potřebuješ db model)</li>
    <li>Automaticky generovat výběr odborností a admin velitelé odborností podle polymorfismu odborností</li>
    <li>Termín poohovoru vybírat ze select inputů -> nejdřív den, pak čas</li>
    <li>Místo pro zpětnou vazbu (od nás i od účastníků)</li>
</ul>


{% endblock %}