{% extends "admin_navbar.html" %}
{% block content %}
<h2>
    Plánované featury
</h2>
<h3>Obecně</h3>
<ul>
    <li>Sjednotit /send_role/ endpointy</li>
    <li>Při ukončenym ročníku to ukázat v účtu, termínech, odbornotech, všude prostě</li>
    <li>generátor seznamů - dej mi všechny maily, který jsou odbornost X a progress Y</li>
</ul>
<h3>Koordinátoři</h3>
<ul>
    <li>Možnost nahrát PDFka zadání odborností</li>
    <li>Vidět svoje svěřence, jejich údaje přehledně</li>
    <li>Vidět motivační dopisy dětí, možnost nahédnutí, hodnocení, možnost vidět hodnocení ostatních koordinátorů</li>
    <li>Možnost vygenerovat seznam mailů podle skupiny (biolog, semifinalista, lidi bez motiváku...)</li>
</ul>
<h3>Admin prostředí</h3>
<ul>
    <li>Možnost smazat uživatele předchozí EM a vyčistit tak půdu pro nový ročník</li>
    <li>Založit uživatele podle mailů, mailem potom účastníkům zaslat přihlašovací údaje.</li>
    <li>Možnost nastavit deadliny pro jednotlivé části</li>
    <li>Support pro simu?</li>
</ul>
<h3>Uživatel</h3>
<ul>
    <li>Přihlášení s vygenerovaným heslem, okamžité vytvoření svého hesla</li>
    <li>Volba odbornosti</li>
    <li>Dozadání potřebných údajů (foto, adresa a já nevim co)</li>
    <li>Ízy kontakt na své koordinátory</li>
    <li>Vidět deadliny a zbývající dny</li>
    <li>Submit motivačního dopisu</li>
    <li>Vidět verdikt o motiváku</li>
    <li>Poslat rodičům mail se souhlasem</li>
    <li>Bude upozorněn mailem na zveřejnění zadání? Nějak chytřejc, cuz když přepnu fázi tam a zpět, tak by to poslalo znova rip</li>
</ul>

{% endblock %}