{% extends "admin_base.html" %}

{% block content %}
<h2>Úprava uživatelů</h2>

Tady jsou data posbíraná z databáze. Zobrazuje tu jen účty s rolí <code>user</code>.
<div id="from_db" class="container">
    <div class="row">
        <div class="col-auto">
            <b>id</b>
        </div>
        <div class="col">
            <b>Jméno</b>
        </div>
        <div class="col">
            <b>E-mail</b>
        </div>
        <div class="col-auto">
            <b>Detail</b>
        </div>
    </div>
</div>

<form method="post" id="form">
    <input hidden name="result" id="result"/>
</form>

<script type="module" src="{{url_for('static', filename='js/admin_edit_users.js')}}"></script>

{% endblock %}