{% extends "admin_navbar.html" %}
{% block content %}

<h2>Admin sekce</h2>

<div>
    Vítej v admin sekci. To, co tu vidíš, ovlivňují admini s povolením <code>editing_admins_allowed</code>. Pokud myslíš, že bys měl mít přístup někam, kam nemůžeš, kontaktuj jednoho znich:
    <div class="border rounded-2 p-2 my-2 border-secondary">
        <code id="emails"></code>
    </div>
</div>
<hr>
<div>
    <h3>Co všechno musí být udržováno up-to-date</h3>
    <ul>
        <li>Datum ukončení registrace, <a href="{{url_for('admin_views.stanovit_terminy')}}">upravit jde tady</a>.</li>
        <li>Reakce na bugtracker</li>
        <li>Kontakty na velitele odborností</li>
        <li>prohlášení rodičů, nahrát nové verze jde <a href="{{url_for('admin_views.prohlaseni_rodicu')}}">tady</a>.</li>
        <li>Stránka s obecnými informacemi v případě, že Píp přestane dělat domácí kola.</li>
    </ul>
</div>
<hr>
<div>
    <h3>Odkazy na naše dokumenty</h3>
    <ul>
        <li><a href="https://docs.google.com/document/d/1Dn6a9ohJEa2wzh1DoKpd_TVXfx-S3Yj7s29eQDTTV90/edit?usp=sharing">Zápis se zahajovací porady EM 23</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1u8e3eGiHGzeuphEtqt3NZRsijMN82CWLw2Z9GLc43Ro/edit#gid=0">Organizátorská struktura EM 23</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/14kqUFbhRhboqWmmYQV6idMI5gVtefaKnmyP-qEWz-bs/edit#gid=829918489">Účetnictví EM 23</a></li>
        <li><a href="https://drive.google.com/file/d/1iZ_pPYzGf8F15UxoShxzj3zQxLNuP0w6/view">Popis aktivit projektu Expedice Mars 2023</a></li>
    </ul>
</div>
<hr>
<div>
    <h3>Počet neřešených bugů: {{pocet_bugu}}</h3>
    Pokud nemáš práva je upravovat, řekni to adminovi, kterej to umí. Jsem ale línej je sem vypisovat.
</div>
<hr>
<div>
    <h3>Náhled na mailing list</h3>
    Tady je vidět, kdo se předregistroval.
    <form method="post">
    <div class="row">
        <div class="col">
            <textarea class="form-control" rows="2" id="mailing_list" name="mailing_list"></textarea>
        </div>
        <div class="col-auto">
            <button class="btn btn-success">Uložit mailing list</button>
        </div>
    </div>
    </form>
</div>


<script type="module" src="{{url_for('static', filename='js/admin_dashboard.js')}}"></script>
{% endblock %}