{% extends "admin_navbar.html" %}
{% block content %}
<h2>Motivační call</h2>
<p>Struktury se drž, otázky vybírej dle svého uvážení.</p>
<h4>Představení</h4>
<p><i>Každý přítomný org se krátce představí (jméno, věk, škola, funkce v EM)</i></p>
<h4>Icebreaker</h4>
<ul>
    <li>Jak se jmenuješ?</li>
    <li>Jaký si měl den?</li>
    <li>Jak vypadá tvůj typický den?</li>
</ul>
</ul>
<h4>Motivace</h4>
<ul>
    <li>Zkus nám vlastními slovy popsat tvou motivaci pro účast na Expedici Mars.</li>
    <li>V čem si myslíš, že ti Expedice Mars pomůže v dosažení tvých cílů?</li>
    <li>Jaké největší výzvě jsi čelil/a a jak se ti podařilo se zachovat?</li>
</ul>
<h4>Psychologie</h4>
<ul>
    <li>Při jakých příležitostech se ti dařilo využít svých silných stránek?</li>
    <li>Jakým způsobem se učíš nové věci?</li>
    <li>Jak se vyrovnáváš se stresem a tlakem?</li>
</ul>
<h4>Hobby</h4>
<ul>
    <li><i>Přečíst si motivační formulář a ptát se na koníčky</i></li>
    <li>Jaké byly prázdniny?</li>
    <li>...</li>
</ul>
{% endblock %}