{% extends "admin_navbar.html" %}
{% block content %}
    <h2>Online setkání</h2>
    Tady se dají vypisovat nové termíny, do kterých se poté účastníci můžou zapsat. Setkání mají 20minutové bloky.
    <h3>Přidat nový den a bloky setkání v něm</h3>
    <form method="post">
        <label for="date">Datum: </label>
        <input type="date" name="date">
        <label for="start_time">Počáteční čas</label>
        <select id="start_time" name="start_time"></select>
        <label for="end_time">Čas začátku posledního pohovoru</label>
        <select id="end_time" name="end_time"></select>
        <button name="pridat_termin" value="1" class="btn em-button" type="submit">Přidat</button>
    </form>
    <h3>Vypsané termíny</h3>
    <form method="post">
        <div id="content"></div>
    </form>
    <h3>Přihlášení účastníci</h3>
    <div id="prihlaseni">
        <div class="row">
            <div class="col"><b>Datum</b></div>
            <div class="col"><b>Jméno</b></div>
            <div class="col"><b>Link na meeting</b></div>
        </div>
    </div>

    <script type="module" src="{{url_for('static', filename='js/admin_pohovory.js')}}"></script>
{% endblock %}