{% extends "admin_navbar.html" %}
{% block content %}

<h2>Admin sekce</h2>

<div>
    Vítej v admin sekci. To, co tu vidíš, ovlivňují admini s povolením <code>editing_admins_allowed</code>. Pokud myslíš, že bys měl mít přístup někam, kam nemůžeš, kontaktuj jednoho znich:
    <div class="border rounded-2 p-2 my-2 border-secondary">
        <code id="emails"></code>
    </div>
</div>
<hr>
<div>
    <h3>Co všechno musí být udržováno up-to-date</h3>
    <ul>
        <li>Datum ukončení registrace, <a href="{{url_for('admin_views.stanovit_terminy')}}">upravit jde tady</a>.</li>
        <li>Reakce na bugtracker</li>
        <li>Kontakty na velitele odborností</li>
        <li>prohlášení rodičů, nahrát nové verze jde <a href="{{url_for('admin_views.prohlaseni_rodicu')}}">tady</a>.</li>
    </ul>
</div>
<hr>
<div>
    <h3>Počet neřešených bugů: {{pocet_bugu}}</h3>
    Pokud nemáš práva je upravovat, řekni to adminovi, kterej to umí. Jsem ale línej je sem vypisovat.
</div>


<script type="module" src="{{url_for('static', filename='js/admin_dashboard.js')}}"></script>
{% endblock %}