{% extends "admin_navbar.html" %}
{% block content %}

<h2>Export dat</h2>
Vygeneruje .zip soubor, kterej obsahuje všechno. Vesměs je to potřeba při ukončování ročníku. Neslouží a nikdy nebude sloužit jako záloha systému, k obnovení stavu z daného exportu. 
<form method="post">
    <button class="btn btn-primary" value="generovat" name="generovat">Vytvořit nový export</button>
</form>
<hr>
<h2>Stáhnout starší exporty</h2>
<form method="post">
    <div id="content"></div>
</form>


<script type="module" src="{{url_for('static', filename='js/admin_export.js')}}"></script>
{% endblock %}