{% extends "admin_navbar.html" %}

{% block content %}
<h2>Účastníci</h2>

Tady jsou data posbíraná z databáze. Zobrazuje tu jen účty s rolí <code>user</code>.
<form method="post">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Jméno</th>
                    <th>E-mail</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody id="users"></tbody>
        </table>
    </div>
</form>


<script type="module" src="{{url_for('static', filename='js/admin_registrovani_uzivatele.js')}}"></script>

{% endblock %}