{% extends "admin_navbar.html" %}
{% block content %}
    <p>
        <h2>3. 2. a testing</h2>
        <ul>
            <li>Začalo testování, zda na sebe vše navazuje tak, jak má.</li>
            <li>Při tom jsem opravil pár míst, kde byl obsah starý/nedokončený, jako třeba E-mail o potvrzení e-mailu</li>
            <li>Opraven bug, kdy při uzavřenym ročníku nemoh admin upravovat své údaje</li>
            <li>Opraven bug, kdy uživatel s nevyplněnym jménem ale vyplněnym časem pohovoru nebyl clickable.</li>
            <li>Opraven bug, kdy generování seznamů nesprávně odlišovalo None a ""</li>   
            <li>Generování seznamů už nezahrnuje adminy</li>
        </ul>
    </p>
    <p>
        <h2>29. 1. a upravené formulace</h2>
        Na hromadě míst byly změněny formulace z placeholderů, které jsem tam měl od začátku. Především jde o stránku informací, které mají účastníci k dispozici.
    </p>
    <p>
        <h2>24. 1. a lepší mailing list</h2>
        <ul>
            <li>Na mailing list se dá nahlížet kdykoli během expedice na admin dashboardu.</li>
        </ul>
    </p>
    <p>
        <h2>21. 1. 2023 a doména!</h2>
        <ul>
            <li>Máme to spuštěný na intranet.expedice-mars.eu</li>
            <li>E-maily se odesílaj z expedičního mailu</li>
            <li>Správně to promazává usery a nepromazává mailing-list</li>
        </ul>
    </p>
    <p>
        <h2>21. 9. a export dat</h2>
        <ul>
            <li>V roli prepinani_fazi_allowed přibyla sekce pro Export</li>
            <li>Export umí stáhnout .zip soubor se všema datama z ročníku:</li>
            <ul>
                <li>Data všech účastníků</li>
                <li>mailing list</li>
                <li>termíny pohovorů</li>
                <li>admin poznámky</li>
                <li>termíny</li>
                <li>Kontakty na velitele odborností</li>
                <li>admin a app logy</li>
                <li>prohlášení rodičů</li>
                <li>práce, profilovky a motiváky všech účastníků</li>
                <li>Zadání internetových kol</li>
            </ul>
        </ul>
    </p>
    <p>
        <h2>20. 9. a nové metadata userů</h2>
        <ul>
            <li>Systém teď o uživatelích trackuje datum registrace a datum pohovoru.</li>
            <li>Systém nyní umožňuje rezervovat termíny pohovorů.</li>
            <li>Admini můžou vypisovat nové termín, nebo mazat dosud neobsazené.</li>
            <li>Uživatelům se zamčenými změnami se zablokuje možnost vybírat nový termín.</li>
            <li>Přibyla výzva o hledání grafika.</li>
            <li>Systém dál trackuje meeting_link ke každýmu userovi. Jde přidat v detailu usera, uživatelům se zobrazuje v sekci Pohovory.</li>
            <li>Na admin dashboardu jde nahrát nová verze souhlasu rodičů, ten se uživatelům zobrazuje v účtu ke stažení.</li>
        </ul>
    </p>
    <p>
        <h2>19. 9. a proklikávací jmnéna účastníků</h2>
        <ul>
            <li>Jména účastníků v generovaných seznamech a motivákách a pracích vedou na detail jejich účtu.</li>
            <li>Začátek pohovorů.</li>
            <li>Zabezpečení některých admin endpointů nebylo správně udělaný, už je.</li>
        </ul>
    </p>
    <p>
        <h2>17. 9. a generátor seznamů dětí</h2>
        <ul>
            <li>Je dokoncčenej generátor seznamu dětí podle kritérií</li>
            <li>A už i zobrazuje výsledky na stránce</li>
        </ul>
    </p>
    <p>
        <h2>15. 9. a Alergie</h2>
        <ul>
            <li>Do účtu přibyla možnost zapsat údaj o alergii.</li>
            <li>Do účtu taky přibyla možnost napsat, na jakou školu chodím.</li>
            <li>Admin prostředí dostalo nástřel systému pro generování seznamů.</li>
        </ul>
    </p>
    <p>
        <h2>14. 9. a admin logging a poznámky</h2>
        <ul>
            <li>Teď už loguju každou adminí akci.</li>
            <li>Zamykání změn teď opravdu zakáže nahráváhní nových verzí motiváku a práce.</li>
            <li>Přidáno prostření pro přidávání admin poznámek. Admini si tam můžou poznamenat, cokoli je zrovna relevantní pro ročník.</li>
        </ul>
    </p>
    <p>
        <h2>13. 9. a trigger endpoints</h2>
        <ul>
            <li>Přidána cesta pro Pípa, jak upravovat usery v databazi hromadněji (bylo potřeba všem starejm defautnout jeden sloupeček)</li>
            <li>Bugfix ohledně motiváků.</li>
            <li>Zprovozněno admin upravování následujícíh dat o uživatelích:</li>
            <ul>
                <li>Progress: Domácí kola / semi / fi atd.</li>
                <li>Uzamčené změny: zda může stále nahrávat práce a motiváky.</li>
                <li>Adminí poznámka: naše poznámka k němu, kterou uživatel nikdy neuvidí.</li>
                <li>Souhlas rodičů (před účastí na semi)</li>
            </ul>
            <li>Do uživatelské sekce přibyla stránka info</li>
            <li>Rozdělení app logů a admin logů, smazání logs.txt</li>
            <li>Rozjetí admin logů jako alog(msg)</li>
        </ul>
    </p>
    <p>
        <h2>11. 9. a jak jste se o nás dozvěděli</h2>
        <ul>
            <li>Useři už můžou v účtu vyplnit, jak se o nás dozvěděli</li>
            <li>Další kategorie přidané včera už se zobrazují v admin_detail_usera</li>
            <li>Zprovoznění sekce Motiváky a práce: V admin sekci je vidět u každého kida motivák a práce a textfield na hodnocení motiváku</li>
            <li>Opraven bug, kdy v detailu usera to špatně zobrazovalo, když user neměl žádné práce odevzdané.</li>
        </ul>
    </p>
    <p>
        <h2>10.9. a nové sloupečky user database</h2>
        <ul>
            <li>Sleduju teď data jako:</li>
            <ul>
                <li>jak se o nás dozvěděli</li>
                <li>admin poznámka k uživateli</li>
                <li>Hodnocení motiváku</li>
                <li>Jestli už nemaj uzamčený změny na profilu</li>
            </ul>
            <li>Ve spojitosti s tim mam novou funkci na get_full info a get_basic_info</li>
            <li>Rozjezd admin prostredi pro motivaky a prace</li>
        </ul>

    </p>
    <p>
        <h2>9.9. a nahrávání motiváků</h2>
        <ul>
            <li>Useři můžou nahrát motivák v sekci účet.</li>
            <li>Můžou si stáhnout aktuální verzi nebo nahrát novou.</li>
            <li>nové a přehlednější endpointy pro posílání souborů z backendu.</li>
            <li>V admin sekci je nyní lépe vidět detail účtu kida, jde tam stáhnout motivák, práce nebo zobrazit profilovka.</li>
            <li>V admin sekci při jmenování adminů jde nahlédnout na detaily adminova účtu.</li>
        </ul>
    </p>
    <p>
        <h2>3.9. a úklid backendu</h2>
        <ul>
            <li>jo</li>
            <li>Přibyly nový templaty pro admin správu registrovanejch uživatelů, dropdown meníčko</li>
        </ul>
    </p>
    <p>
        <h2>26. 8. a Nahrávání prací</h2>
        <ul>
            <li>Účastníci teď můžou nahrávat práce, limit je 20 MB.</li>
            <li>Po nahrání se jim zobrazuje, co nahráli a můžou to smazat a nahrát novou verzi.</li>
            <li>Lepší zadávání kontaktů na velitele</li>
        </ul>
    </p>
    <p>
        <h2>15. 8. a lepší chování karty Domů v různých fázích</h2>
        <ul>
            <li>Karta domů nyní přesně říká, jak na tom aktuálně hra je a poskytuje useful linky.</li>
            <li>Na uživatelských kartách to flashuje, když je ročník uzavřený.</li>
            <li>Update kousku readme.md</li>
        </ul>
    </p>
    <p>
        <h2>6. 8. a checkerbox u registrace</h2>
        <ul>
            <li>Při registraci se nyní musí souhlasit se zpracováním osobních údajů.</li>
        </ul>
    </p>
    <p>
        <h2>30. 7. a uploadování zadání</h2>
        <ul>
            <li>Velitelé odborností můžou nahrávat zadání, několik souborů naráz klidně.</li>
            <li>Zadání jde smazat a nahrát znova</li>
            <li>Uživatelé vidí všechna zadání při výběru odbornosti</li>
            <li>A pak už jen to svoje po výběru odbornosti</li>
            <li>Default profilovka</li>
            <li>User už má data o velikosti trička</li>
        </ul>
    </p>
    <p>
        <h2>25. 7. a změny v readme</h2>
        <ul>
            <li>Upravil jsem zastaralý info v readme na bitbucketu.</li>
        </ul>
    </p>
    <p>
        <h2>24. 7. a lepší zobrazování metadat v admin sekci</h2>
        <ul>
            <li>Json metadat o userech se zobrazuje s indentem.</li>
            <li>Json metadat o adminech se zobrazuje při úpravě rolí.</li>
            <li>Záznamy v logs jsou česky.</li>
        </ul>
    </p>
    <p>
        <h2>23. 7. a přejmenování kooridnátora na velitele odbornosti</h2>
        <ul>
            <li>jo</li>
            <li>taky jsem sem do admin sekce přidal link na source.</li>
        </ul>
    </p>
    <p>
        <h2>8. 7. a datum konce registrace</h2>
        <ul>
            <li>Datum konce registrace se nyní zobrazuje na homepage.</li>
            <li>Úklid částí kódu</li>
            <li>Napravení funkčnosti logout endpoitnu.</li>
            <li>Začal jsem psát přehled fíčur na admin dashboard</li>
        </ul>
    </p>
    <p>
        <h2>5. 7. a termín konce registrace</h2>
       <ul>
            <li>V termínech jde upravit konec registrace, zatím to ale nic nedělá. Termíny ho správně (ne)zobrazujou.</li>
            <li>Admin dashboard získal nadpisy pro to, co mu ještě chybí.</li>
       </ul> 
    </p>
    <p>
        <h2>30. 6. a upozoenění na zadání</h2>
        <ul>
            <li>V druhé fázi se adminovi zobrazí seznam lidí, které je třeba upozornit na nově zveřejněné zadání.</li>
        </ul>
    </p>
    <p>
        <h2>29. 6. a zobrazení profilovky</h2>
        <ul>
            <li>V profilu teď je vidět nahraná profilovka.</li>
        </ul>
    </p>
    <p>
        <h2>23. 6. a kontakt na koordinátora</h2>
        <ul>
            <li>Koordinátoři maj svojí stránku v admin prostředí</li>
            <li>Můžou tam dát kontakt na sebe či další koordinátory, ten se pak zobrazí na stránce odbornosti kidů.</li>
        </ul>
    </p>
    <p>
        <h2>22. 6. a volba odbornosti</h2>
        <ul>
            <li>Nová stránka k odbornostem. V závislosti na fázi hry je tam vidět pouze popis odborností nebo zadání.</li>
            <li>Po vybrání odbornosti je tam prostor k zobrazení zadání a kontaktu na koordinátory</li>
            <li>backend: base.html bylo prejmenovano na navbar.html</li>
        </ul>
    </p>
    <p>
        <h2>21. 6. a user data</h2>
        <ul>
            <li>Uživatel si může nastavit hromadu metadat</li>
            <li>Userovi se zakládá složka user_data/id, kam se nahraje profilovka</li>
        </ul>
    </p>
    <p>
        <h2>20. 6. a novej user model</h2>
        <ul>
            <li>User teď má hromadu dalších polí v tabulce</li>
            <li>Skript na jmenování admina lepší - odebranej koncept superadmina</li>
            <li>User_objekt muze mit user i admin nezavisle na sobe, pokazdy se jde logoutnout.</li>
            <li>Jmenování adminů lepší</li>
        </ul>
    </p>
    <p>
        <h2>19. 6. a dodělanej mailing  list</h2>
        malej update - ve fázi otevřených registrací je vidět mailing list, maily jdou zkopírovat a mailing list jde promazat.
    </p>
    <p>
        <h2>18. 6. a zakázaný registrace při danejch fázích</h2>
        <ul>
            <li>Při dvou posledních fázích se už nedá registrovat. Email to přidá na mailing-list.</li>
            <li>Lehce vylepšenej vzhled auth stránek na mobilech.</li>
            <li>Přidaná složka pro helper functions, pouklízení kódu.</li>
        </ul>
    </p>
    <p>
        <h2>17. 6. a fáze EM</h2>
        <ul>
            <li>Založení user_views</li>
            <li>Prostředí pro nastavování deadlinů</li>
            <li>V admin prostředí jdou s patřičnou rolí posouvat fáze hry.</li>
        </ul>
    </p>
    <p>
        <h2>16. 6. a role</h2>
        <ul>
            <li>Novej model usera, kterej má role</li>
            <li>V admin prostředí přibylo místo na editaci rolí. To, jak role fungujou, je líp popsaný v readme na  bitbucketu.</li>
            <li>Líp řešený checkování adminů a jejich pod-rolí. Ditchnutí is_admin funkce.</li>
            <li>Templaty, který měněj navbar na základě toho, jakou má user roli.</li>
        </ul>
    </p>
    <p>
        <h2>4. 6. a první brainstorm fíčur</h2>
        Se Soňou jsme narychlo dali dohromady pár věcí, který by stránky měly umět.
    </p>
    <p>
        <h2>11. 5. a vytvoření šablony pro stránky</h2>
        11. 5. jsem udělal tuhle šablonu, která zvládá jednotnej vzhled, login systém, bug tracker a reset hesel.
    </p>

{% endblock %}