{% extends "admin_navbar.html" %}
{% block content %}
<h2>Termín konce registrace</h2>
<form method="post" id="form">
    <div>
        Tohle datum nic samo o sobě neukončuje, jenom se zobrazuje na úvodní stránce a to jen tehdy, když to dává smysl vzhledem k fázi hry.<br>
        <input type="date" name="registrace_date" id="registrace_date">
        <button type="submit" class="btn btn-success" id="ulozit">Uložit</button>
    </div>
</form>

<script type="module" src="{{url_for('static', filename='js/admin_ukoncit_registraci_termin.js')}}"></script>
{% endblock %}