{% extends "admin_navbar.html" %}
{% block content %}
<form id="form" method="post">
    <h2>Fáze ročníku: <span id="faze_display_name"></span></h2>
    <p>
        Fáze to, zda jsou otevřené registrace a to, jak se intranet zobrazuje nově příchozím.
        <ul>
            <li><b>Ročník bude</b> je fáze, která trvá od ukončení registrací do stanovení data dalších registrací. Na homepage je napsáno, že nový ročník začne v srpnu a že je možné se předregistrovat.</li>
            <li><b>Zveřejněné datum registrace</b> na hommepage ukáže datumy, ve kterých bude možné se registrovat.</li>
            <li><b>Otevřená registrace</b> je dost jasná.</li>
            <li><b>Uzavřená registrace</b> na homepage řekne, že tento ročník právě probíhá a je možné se předregistrovat do nového.</li>
        </ul>
    </p>
    <div class="row">
        <div class="col">
            <select id="faze_select" class="form-select" name="faze_select"></select>
        </div>
        <div class="col-auto">
            <button class="btn em-button" name="ulozit_fazi", value="whatever">Uložit fázi</button>
        </div>
    </div>
    <hr>
    <h2>Datum začátku a konce registrace</h2>
    Datum samo o sobě nic neukončuje, je pouze informativní. Registrace se otevírají a uzavírají zvlášť.
    <div class="row my-2">
        <div class="col-auto">
            Otevření registrace:
        </div>
        <div class="col">
            <input type="date" name="datum_otevreni" id="datum_otevreni">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn em-button" name="ulozit_datum_otevreni" value="Whatever">Uložit datum</button>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            Ukončení registrace:
        </div>
        <div class="col">
            <input type="date" name="datum_uzavreni" id="datum_uzavreni">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn em-button" name="ulozit_datum_uzavreni" value="Whatever">Uložit datum</button>
        </div>
    </div>
    <hr>
    
    <h2>Viditelnost zadání domácího kola na homepage</h2>
    <div class="row">
        <div class="col">
            Zadání jsou <span id="viditelnost_stav"></span>.
        </div>
        <div class="col-auto">
            <button class="btn em-button" id="toggle_zadani" name="toggle_zadani" value="1" type="submit"></button>
        </div>
    </div>
    <hr>
    <h2>Viditelnost stránky s informacemi o online konferenci</h2>
    <p>
        Informace o konferenci jdou upravit <a class="link" href="{{url_for('admin_views.info_o_konferenci')}}">tady</a> a zobrazují se účastníkům, pokud jsou splněny obě následující podmínky:
        <ul>
            <li>Jejich progress je <code>Domácí projekt</code></li>
            <li>Viditelnost je tady povolena</li>
        </ul>
    </p>
    <div class="row">
        <div class="col">
            Stránka je <span id="informace_o_konferenci_stav"></span>.
        </div>
        <div class="col-auto">
            <button class="btn em-button" id="toggle_info_o_konferenci" name="toggle_info_o_konferenci" value="1" type="submit"></button>
        </div>
    </div>
    <hr>
    <h2>E-mail na koordinátora internetových kol</h2>
    <p>Když nějaký účastník nahraje souhrn své práce, pošle to e-mail veliteli odbornosti a právě na tento e-mail koordinátora internetových kol.</p>
    <div class="row">
        <div class="col">
            <input type="email" class="form-control" name="koordinator_internetovych_kol" id="koordinator_internetovych_kol">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn em-button" value="whatever" name="koordinator_internetovych_kol_button">Uložit</button>
        </div>
    </div>
    <hr>
    <h2>Náhled na vyplněné předregistrace</h2>
    <p>
        Předregistrované e-maily jsou <a class="link" href="{{url_for('admin_views.vyplnene_predregistrace')}}">tady</a>.
    </p>
    <hr>
    <h2>Export dat</h2>
    <div class="row">
        <div class="col">
            Vygeneruje .zip soubor, kterej obsahuje všechno. Vesměs je to potřeba při ukončování ročníku. Neslouží a nikdy nebude sloužit jako záloha systému, k obnovení stavu z daného exportu. 
        </div>
        <div class="col-auto">
            <button class="btn em-button" value="generovat" name="generovat">Vytvořit nový export</button>
        </div>
    </div>
    <h2>Stáhnout starší exporty</h2>
        <div id="content"></div>
    <hr>
    <h2>Ukončit ročník</h2>
    <div class="row">
        <div class="col">
            <ul>
                <li>Promaže to účastníky</li>
                <li>Nechá to adminy, mailing-list, prohlášení rodičů a šablony</li>
            </ul>
        </div>
        <div class="col-auto">
            <button id="ukoncit_rocnik" class="btn btn-danger" name="ukoncit_rocnik">Projít otázkama a ukončit ročník</button>
            <input type="text" hidden name="ukoncit_rocnik_input" id="ukoncit_rocnik_input" value="">
        </div>
    </div>
</form>

<script type="module" src="{{url_for('static', filename='js/admin_prubeh_rocniku.js')}}"></script>
{% endblock %}