{% extends "admin_navbar.html" %}
{% block content %}
<h2>
    Plánované featury
</h2>
<h3>Obecně</h3>
<ul>
    <li>Při ukončenym ročníku to ukázat v účtu, termínech, odbornotech, všude prostě</li>
</ul>
<h3>Admin prostředí</h3>
<ul>
    <li>Možnost smazat uživatele předchozí EM a vyčistit tak půdu pro nový ročník</li>
    <li>Support pro simu?</li>
    <li>Dashboard: texty mailů, přehled polí, který musej bejt up-to-date, přehled fíčur</li>
    <li>Generování seznamů účastníků do .pdf</li>
</ul>


{% endblock %}