{% extends "admin_navbar.html" %}
{% block content %}
<h2>Nahrávání souborů</h2>
<p>
    Nahrávat jdou pouze <code>.docx</code> soubory. To proto, aby šly vždy stáhnout, upravit a nahrát znovu.
</p>
<form method="post" enctype="multipart/form-data" id="content">
    <div class="container">
        <h3>Prohlášení rodičů</h3>
        <div class="row">
            <div class="col-auto">
                Nahrát novou verzi:
            </div>
            <div class="col">
                <input type="file" class="form-control" name="souhlas_file" accept=".docx">
            </div>
            <div class="col-auto">
                <button class="btn em-button" type="submit" name="souhlas" value="whatever">Nahrát</button>
            </div>
        </div>
        <div id="prohlaseni_link"></div>
    </div>
</form>

<script type="module" src="{{url_for('static', filename='js/admin_nahrat_soubory.js')}}"></script>
{% endblock %}