{% extends "admin_navbar.html" %}

{% block content %}
    <h2>#justvelitelodbornostithings</h2>
    <form method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-success">Uložit</button>
        {% if "velitel_odbornosti_biolog" in roles %}
            <div class="border rounded-2 border-primary m-2 p-2">
                <h2>Biologové</h2>
                <div id="biolog_nahrat_zadani">
                    Přidej soubory zadání, pokud jich je víc, tak všechny naráz:
                    <div class="row">
                        <div class="col">
                            <input type="file" multiple class="form-control" name="biolog_files">
                        </div>
                        <div class="col-auto">
                            <button type="submit" name="ulozit_zadani" value="biolog" class="btn btn-outline-success">Nahrát</button>
                        </div>
                    </div>
                </div>
                <div id="biolog_ukazat_zadani">
                    Náhled nahraného zadání.
                    <button type="submit" class="btn btn-danger" name="smazat_zadani" value="biolog">Smazat zadání</button>
                    <br>
                </div>
                <hr>
                Sem napiš nějaké možnosti kontaktu. Třeba jméno, email, další jméno, jeho email...
                <input type="text" class="form-control" name="biolog" id="biolog">
            </div>
        {% endif %}
        {% if "velitel_odbornosti_konstrukter" in roles %}
            <div class="border rounded-2 border-primary m-2 p-2">
                <h2>Konstruktéři</h2>
                <div id="konstrukter_nahrat_zadani">
                    Přidej soubory zadání, pokud jich je víc, tak všechny naráz:
                    <div class="row">
                        <div class="col">
                            <input type="file" multiple class="form-control" name="konstrukter_files">
                        </div>
                        <div class="col-auto">
                            <button type="submit" name="ulozit_zadani" value="konstrukter" class="btn btn-outline-success">Nahrát</button>
                        </div>
                    </div>
                </div>
                <div id="konstrukter_ukazat_zadani">
                    Náhled nahraného zadání.
                    <button type="submit" class="btn btn-danger" name="smazat_zadani" value="konstrukter">Smazat zadání</button>
                    <br>
                </div>
                <hr>
                Sem napiš nějaké možnosti kontaktu. Třeba jméno, email, další jméno, jeho email...
                <input type="text" class="form-control" name="konstrukter" id="konstrukter">
            </div>
        {% endif %}
        {% if "velitel_odbornosti_fyzik" in roles %}
            <div class="border rounded-2 border-primary m-2 p-2">
                <h2>Fyzikové</h2>
                <div id="fyzik_nahrat_zadani">
                    Přidej soubory zadání, pokud jich je víc, tak všechny naráz:
                    <div class="row">
                        <div class="col">
                            <input type="file" multiple class="form-control" name="fyzik_files">
                        </div>
                        <div class="col-auto">
                            <button type="submit" name="ulozit_zadani" value="fyzik" class="btn btn-outline-success">Nahrát</button>
                        </div>
                    </div>
                </div>
                <div id="fyzik_ukazat_zadani">
                    Náhled nahraného zadání.
                    <button type="submit" class="btn btn-danger" name="smazat_zadani" value="fyzik">Smazat zadání</button>
                    <br>
                </div>
                <hr>
                Sem napiš nějaké možnosti kontaktu. Třeba jméno, email, další jméno, jeho email...
                <input type="text" class="form-control" name="fyzik" id="fyzik">
            </div>
        {% endif %}
        {% if "velitel_odbornosti_inzenyr" in roles %}
            <div class="border rounded-2 border-primary m-2 p-2">
                <h2>Inženýři</h2>
                <div id="inzenyr_nahrat_zadani">
                    Přidej soubory zadání, pokud jich je víc, tak všechny naráz:
                    <div class="row">
                        <div class="col">
                            <input type="file" multiple class="form-control" name="inzenyr_files">
                        </div>
                        <div class="col-auto">
                            <button type="submit" name="ulozit_zadani" value="inzenyr" class="btn btn-outline-success">Nahrát</button>
                        </div>
                    </div>
                </div>
                <div id="inzenyr_ukazat_zadani">
                    Náhled nahraného zadání.
                    <button type="submit" class="btn btn-danger" name="smazat_zadani" value="inzenyr">Smazat zadání</button>
                    <br>
                </div>
                <hr>
                Sem napiš nějaké možnosti kontaktu. Třeba jméno, email, další jméno, jeho email...
                <input type="text" class="form-control" name="inzenyr" id="inzenyr">
            </div>
        {% endif %}
        {% if "velitel_odbornosti_popularizator" in roles %}
            <div class="border rounded-2 border-primary m-2 p-2">
                <h2>Popularizátoři</h2>
                <div id="popularizator_nahrat_zadani">
                    Přidej soubory zadání, pokud jich je víc, tak všechny naráz:
                    <div class="row">
                        <div class="col">
                            <input type="file" multiple class="form-control" name="popularizator_files">
                        </div>
                        <div class="col-auto">
                            <button type="submit" name="ulozit_zadani" value="popularizator" class="btn btn-outline-success">Nahrát</button>
                        </div>
                    </div>
                </div>
                <div id="popularizator_ukazat_zadani">
                    Náhled nahraného zadání.
                    <button type="submit" class="btn btn-danger" name="smazat_zadani" value="popularizator">Smazat zadání</button>
                    <br>
                </div>
                <hr>
                Sem napiš nějaké možnosti kontaktu. Třeba jméno, email, další jméno, jeho email...
                <input type="text" class="form-control" name="popularizator" id="popularizator">
            </div>
        {% endif %}
    </form>
    

    <script type="module" src="{{url_for('static', filename='js/admin_velitele_odbornosti.js')}}"></script>
{% endblock %}