{%extends "navbar.html"%}
{%block content%}

	<form method="post" id="form">
	<h2>Zaregistruj se:</h2>
	<div class="container">
		<div class="row my-1">
			<div class="col-2">
				Email:
			</div>
			<div class="col">
				<input type="email" name="email" id="email" required maxlength="100" value="@" class="form-control"/>
			</div>
		</div>
		<div class="row my-1">
			<div class="col-2">
				Heslo
			</div>
			<div class="col">
				<input type="password" name="password" id="password" maxlength="300" class="form-control"/>
			</div>
		</div>
		<div class="row my-1">
			<div class="col-2">
				Heslo pro kontrolu:
			</div>
			<div class="col">
				<input type="password" name="password_confirm" id="password_confirm" maxlength="300" class="form-control"/>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				<input type="checkbox" id="souhlas" name="souhlas">
			</div>
			<div class="col">
				<small>
					<label for="souhlas">Tvé osobní údaje budeme uchovávat po dobu 5 let a děláme vše pro to, aby se nedostaly k nikomu jinému, než organizátorskému týmu Expedice Mars a to jen pro účely organizování Expedice Mars.</label>
				</small>
			</div>
		</div>
	</div>
	<button type="button" id="btn" class="btn btn-primary">Register</button>
	</form>
<script type="module" src="{{url_for('static',filename='js/register_form_validation.js')}}"></script>
{%endblock%}