{%extends "navbar.html"%}
{%block content%}

<h2>Registrace</h2>
Registrace pro letošní ročník už jsou uzavřené. Můžeš kontaktovat kteréhokoli organizátora, třeba ti ještě povolí se registrovat. Nebo nám tu zanech e-mail, na který tě upozorníme, až se otevřou registrace pro další ročník.
<form method="post">
    <input type="email" class="form-control my-2" value="@" required maxlength="100" name="email"/>
    <button type="submit" class="btn em-button">Přidat e-mail do seznamu budoucích účastníků</button>
</form>

{%endblock%}