{% extends "index.html" %}
{% block nav %}
    <li class="navbar-item"><a class="nav-link active" href="{{url_for('default_views.home')}}">Domů</a></li>
    {% if "prihlasen" in roles %}
        {% if "user" in roles %}
            <li class="nav-item"><a class="nav-link active" href="{{url_for('user_views.account')}}">Účet</a></li>
            {% if "confirmed" in roles %}
                <li class="nav-item"><a class="nav-link active" href="{{url_for('user_views.terminy')}}">Termíny</a></li>
            {% endif %}
        {% endif %}
        {% if "admin" in roles %}
            <li  class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.admin_dashboard')}}">Admin sekce</a></li>
        {% endif %}
        <li class="nav-item"><a class="nav-link active" href="{{url_for('auth_views.logout')}}">Logout</a></li>
    {% else %}
        <li class="nav-item"><a class="nav-link active" href="{{url_for('auth_views.login')}}">Login</a></li>
        <li class="nav-item"><a class="nav-link active" href="{{url_for('auth_views.register')}}">Register</a></li>
    {% endif %}
{% endblock %}


{% block footer %}
<footer>
    <ul>
        <li><a href="{{url_for('default_views.nahlasit_bug')}}">Nahlásit bug, připomínku, nápad</a></li>
        <li><a href="{{url_for('default_views.known_bugs')}}">Známé chyby</a></li>
    </ul>
</footer>
{% endblock %}