{% extends "base.html" %}
{% block content %}
<div>
    
    <h2>Intranet Expedice Mars</h2>

    Tohle budou stránky pro internetová kola. Co by tu mělo být? 
    <h3>Koordinátoři</h3>
    <ul>
        <li>Možnost nahrát PDFka zadání odborností</li>
        <li>Vidět svoje svěřence, jejich údaje přehledně</li>
    </ul>
    <h3>Admin prostředí</h3>
    <ul>
        <li>Možnost smazat uživatele předchozí EM a vyčistit tak půdu pro nový ročník</li>
        <li>Založit uživatele podle mailů, mailem potom účastníkům zaslat přihlašovací údaje.</li> 
    </ul>
    <h3>Uživatel</h3>
    <ul>
        <li>Přihlášení s vygenerovaným heslem, okamžité vytvoření svého hesla</li>
        <li>Volba odbornosti</li>
        <li>Dozadání potřebných údajů (jako souhlas rodičů apod.)</li>
        <li>Ízy kontakt na své koordinátory</li>
    </ul>
</div>
{% endblock %}