{% extends "navbar.html" %}
{% block content %}
    
<h2>Intranet Expedice Mars</h2>
    <p>
        Letošní ročník Expedice Mars <span id="mit"></span> otevřené registrace mezi <code id="zacatek_registrace"></code> a <code id="konec_registrace"></code>.
    </p>
    <hr>
    {% if otevrena_registrace %}
    <div>
        Registrace běží, můžeš se do Expedice <a class="link" href="{{url_for('auth_views.register')}}">přidat</a>
    </div>
    {% else %}
    <div>
        Registrace letošního ročníku jsou uzavřeny. Můžeš se ale <a class="link" href="{{url_for('auth_views.register')}}">zapsat do mailing listu</a>, s otevřením nového ročníku ti dáme vědět. Nebo nám můžeš napsat a třeba se do ročníku ještě dostaneš.
    </div>
    {% endif %}
    <hr>
    {% if zverejnena_zadani %}
        <h2>Zadání domácího kola</h2>
        <p>Zadání jsou viditelná. Budeš k nim mít přístup i po přihlášení. Na jednom z těchto zadání budeš pracovat.</p>
        <div id="odbornosti"></div>
    {% else %}
        <div>
            Zadání domácího kola zatím nebyla zveřejněna. Až se tak stane, budou tady!
        </div>
    {% endif %}

<script src="{{url_for('static', filename='js/home.js')}}", type="module"></script>

{% endblock %}