{% extends "navbar.html" %}
{% block content %}
    
<h2>Intranet Expedice Mars</h2>

    {% if otevrena_registrace %}
    <div>
        Registrace běží, můžeš se do Expedice <a class="link" href="{{url_for('auth_views.register')}}">přidat</a>. Registraci ukončíme <code id="date"></code>.
    </div>
    {% else %}
    <div>
        Registrace letošního ročníku byly <code id="date"></code> uzavřeny. Můžeš se ale <a class="link" href="{{url_for('auth_views.register')}}">zapsat do mailing listu</a>, s otevřením nového ročníku ti dáme vědět.
    </div>
    {% endif %}

<!-- <img src="{{url_for('static', filename='grafik.png')}}" width="40%" style="display:block; margin-left: auto; margin-right: auto;"> -->
<script src="{{url_for('static', filename='js/home.js')}}", type="module"></script>

{% endblock %}