{% extends "navbar.html" %}
{% block content %}

<h2>Obecné informace</h2>

<p>
    Expedice Mars má několik kol. První kolo je domácí. Poté, co zveřejníme zadání všech pěti odborností, si je budeš moct prohlídnout a jednu z nich si zvolit. V domácím kole budeme očekávat, že budeš vypracovávat zadání tvé odbornosti. Budeš na to mít čas, klid a možnost napsat komukoli z nás, především veliteli tvé odbornosti. Ten stojí za zadáním a moc rád ti pomůže se všemi dotazy nebo problémy, které se při vypracovávání objeví.
</p>
<p>
    Domácí kola má na starosti Josef Lát (já): <code>josef.latj@gmail.com</code>. Neboj se mi kdykoli napsat s čímkoli, jsem opravdovej člověk, co rád odpovídá přijatelně rychle. Zvládam dotazy k organizaci domácího kola, ale můžu ti sehnat kontakt i na konkrétní lidi ve vedení nebo v odbornostech, kdybych cítil, že jsou povolanější na otázku odpovědět.
</p>
<p>
    Domácí kolo je zakončeno odevzdáním práce a online hovorem s námi, říkejme tomu třeba pohovor. Tyto pohovory jsou fajn popovídání mezi tebou, velitelem odbornosti, koordinátorem domácích kol a dalšími organizátory, kteří si tě přijdou poslechnout. Pohovory trvají <code>15 minut</code>. Na ně si připrav představení tvé práce, nejlépe ve formě prezentace, třeba Powerpointové. Zajímá nás především:
    <ul>
        <li>Jak se ti povedlo splnit úkol.</li>
        <li>Pokud se ti výsledné řešení oddálilo od zadání, nevadí to. Popíšeš nám, kam tě práce zavedla, jaká problematika tě zaujala a určila směr další práce.</li>
        <li>Jak se ti dařilo řešit problémy, které při domácím kole nastaly.</li>
        <li>Co dál tě napadlo, jestli jsi se svou prací spoko.</li>
    </ul>
    Tato prezentace by měla trvat kolem <code>6 minut</code>. Zbytek bude tvořen otázkami od nás. Ty se budou týkat nejen právě proběhlé prezentace, ale také tvých koníčků a dalších zajímavostí z tvého motivačního dopisu.
</p>
<p>
    Až přijde čas a budeš mít vybraný čas pohovoru, může se kdykoli během posledních dvou dnů před ním stát, že ti zamkneme úpravy souborů. Tím se stane, že tvá nahraná práce a motivační dopis se stanou finálními a už je nebudeš moci měnit.
</p>
<p>
    Pohovory proběhnou přes Zoom, nebo podobnou službu. Bude skvělé, když si připravíš webkameru.
</p>
<p>
    Další kola probíhají poté, co se dozvíš informace o postupu a zařizují se (téměř) výhradně přes e-maily. Hodně zdaru!
</p>

{% endblock %}