{% extends "navbar.html" %}
{% block content %}

<h3>Motivační formulář</h3>

{% if odevzdany_formular %}
    <p>
        Pokud si myslíš, že ještě něco potřebuješ ve formuláři opravit, napiš nám a my ti ho můžeme znovu zpřístupnit.
    </p>
    <div id="odevzdany_formular">
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Jaká oblast vědy a techniky tě zajímá?</b>
            <br>
            <p id="1"></p>
            <b>V čem tě zaujala Expedice Mars?</b>
            <br>
            <p id="2"></p>
            <b>Co očekáváš, že ti přinese Expedice Mars?</b>
            <br>
            <p id="3"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Co považuješ za své silné stránky?</b>
            <br>
            <p id="4"></p>
            <b>Kde vidíš prostor pro své zlepšení?</b>
            <br>
            <p id="5"></p>
            <b>Jaké dovednosti můžeš týmu nabídnout?</b>
            <br>
            <p id="6"></p>
            <b>Cítíš se více jako teoretický nebo praktický typ?</b>
            <br>
            <p id="7"></p>
            <b>Jaká role v týmu je ti příjemná?</b>
            <br>
            <p id="8"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Co si kladeš za dlouhodobé cíle?</b>
            <br>
            <p id="9"></p>
            <b>Co děláš pro to, abys dosáhl svých cílů?</b>
            <br>
            <p id="10"></p>
            <b>Co si představuješ pod pojmem “úspěch“ ve své budoucnosti?</b>
            <br>
            <p id="11"></p>
        </div>
        
        <div class="border-orange rounded-2 m-2 p-2 lighter">
            <b>Jakým volnočasovým aktivitám se věnuješ mimo školu a vědu?</b>
            <br>
            <p id="12"></p>
            <b>Máš něco, co bys rád vyzkoušel? (nové hobby, zážitek)</b>
            <br>
            <p id="13"></p>
            <b>Chtěl bys nám sdělit něco, co nebylo součástí formuláře?</b>
            <br>
            <p id="14"></p>
        </div>
    </div>
{% else %}
    <div class="border-orange rounded-2 my-2 p-2 lighter"r>
        Motivační formulář od tebe ještě odevzdaný nemáme.
    </div>
{% endif %}
<hr>
<h3>Shrnutí práce</h3>
<div id="ukazat_shrnuti" class="border-orange rounded-2 my-2 p-2 lighter"></div>
<hr>
<h3>Práce domácího kola</h3>
<div id="ukazat_praci" class="border-orange rounded-2 my-2 p-2 lighter"></div>

<script type="module" src="{{url_for('static', filename='js/info.js')}}"></script>
{% endblock %}