{% extends "navbar.html" %}
{% block content %}

<h2>Informace ke všemu možnýmu</h2>

<p>
    Tady bych čekal info k pohovorům, co si na ně připravit. Taky to, že kdykoli během dvou ddnů před pohovorem ti můžeme zamknout úpravy souborů - tím se tvoje aktuální nahraná práce a motivační dopis stanou finálními. 
</p>
<p>
    mail na pípa nebo na někoho dalšího s tim, že bla bla bla když něco potřebujou tak můžou že na ně mam čas nebo co
</p>
<p>
    taky to o tom, že pohovory proběhnou přes zoom / teams / jitsi / něco, ať maj kameru ready.
</p>


{% endblock %}