{% extends "navbar.html" %}
{% block content %}

<h2>Kontakty</h2>
<div class="table-responsive">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Velitelství</th>
                <td><code>velitelstvi@expedice-mars.eu</code></td>
            </tr>
            <tr>
                <td colspan="2">
                    <small>Velitelství umí Váš dotaz, Vaše přání či Vaši připomínku rovnou řešit. Popřípadě je pro nás snadné dostat e-mail přímo k lidem, kteří se o danou věc v Expedici starají. Velitelství také koordinuje výcvik posádky.</small>
                </td>
            </tr>
            <tr>
                <th>Velitel internetových kol</th>
                <td><code>viktor.adamek</code></td>
            </tr>
            <tr>
                <td colspan="2">
                    <small>Velitel internetových kol se stará o motivační formmuláře, první kontakt a koordinaci online konference.</small>
                </td>
            </tr>
            <tr>
                <th>Velitelé odborností</th>
                <td>
            </tr>
            <tr>
                <td colspan="2">
                    <small>Kontakt na jednotlivé velitele odborností by měl být k nalezení po přihlášení v sekci Odbornost, pokud do ní už máte přístup. Velitelé odborností se starají o zadávání práce domácího kola nebo o průběh části výcviku posádky.</small>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}