{% extends "navbar.html" %}
{% block content %}
<h2>Motivační formulář</h2>

{% if odevzdany_formular %}
    Formulář už od tebe máme vyplněný. 
{% else %}
    Odpověz nám na několik otázek. Rádi bychom poznali tebe, tvé koníčky nebo tvé silné stránky, prodej se. Vždy při kliknutí na <code>další</code> a <code>předchozí</code> se tvé odpovědi uloží, takže se k nim můžeš vrátit později. Na konci formuláře je potom místo pro odeslání. 
    <hr>
    <form method="post">
        {% if blok_otazek == 1 %}
            <p>
                Jaká oblast z vědy a techniky tě zajímá?
            </p>
            <textarea class="form-control" id="1" name="1" rows="3"></textarea>
            
            <p>
                V čem tě zaujala Expedice Mars?
            </p>
            <textarea class="form-control" id="2" name="2" rows="3"></textarea>
            
            <p>
                Co očekáváš, že ti přinese Expedice Mars?
            </p>
            <textarea class="form-control" id="3" name="3" rows="3"></textarea>
            <button class="btn em-button my-2" type="submit" value="1" name="dalsi">Další (2/4)</button>

        {% elif blok_otazek == 2 %}

            <p>
                Co považuješ za své silné stránky?
            </p>
            <textarea class="form-control" id="4" name="4" rows="3"></textarea>
            
            <p>
                Kde vidíš prostor pro své zlepšení?
            </p>
            <textarea class="form-control" id="5" name="5" rows="3"></textarea>
            
            <p>
                Jaké dovednosti můžeš týmu nabídnout?
            </p>
            <textarea class="form-control" id="6" name="6" rows="3"></textarea>
            
            <p>
                Cítíš se více jako teoretický nebo praktický typ?
            </p>
            <textarea class="form-control" id="7" name="7" rows="3"></textarea>
            
            <p>
                Jaká role v týmu je ti příjemná?
            </p>
            <textarea class="form-control" id="8" name="8" rows="3"></textarea>
            <button class="btn em-button my-2" type="submit" value="2" name="predchozi">Předchozí (1/4)</button>
            <button class="btn em-button my-2" type="submit" value="2" name="dalsi">Další (3/4)</button>


        {% elif blok_otazek == 3 %}
            
            <p>
                Co si kladeš za dlouhodobé cíle?
            </p>
            <textarea class="form-control" id="9" name="9" rows="3"></textarea>
            
            <p>
                Co děláš pro to, abys dosáhl svých cílů?
            </p>
            <textarea class="form-control" id="10" name="10" rows="3"></textarea>
            
            <p>
                Co si představuješ pod pojmem “úspěch“ ve své budoucnosti?
            </p>
            <textarea class="form-control" id="11" name="11" rows="3"></textarea>
            <button class="btn em-button my-2" type="submit" value="3" name="predchozi">Předchozí (2/4)</button>
            <button class="btn em-button my-2" type="submit" value="3" name="dalsi">Další (4/4)</button>

        {% elif blok_otazek == 4 %}

            <p>
                Jakým volnočasovým aktivitám se věnuješ mimo školu a vědu?
            </p>
            <textarea class="form-control" id="12" name="12" rows="3"></textarea>
            
            <p>
                Máš něco, co bys rád vyzkoušel? (nové hobby, zážitek)
            </p>
            <textarea class="form-control" id="13" name="13" rows="3"></textarea>
            
            <p>
                Chtěl bys nám sdělit něco, co nebylo součástí formuláře?
            </p>
            <textarea class="form-control" id="14" name="14" rows="3"></textarea>
            <button class="btn em-button my-2" type="submit" value="4" name="predchozi">Předchozí (3/4)</button>
            <button class="btn btn-success my-2" type="submit" value="whatever" name="odeslat">Odeslat motivační formulář</button>

        {% endif %}
    </form>
{% endif %}

<script type="module" src="{{url_for('static', filename='js/motivacni_formular.js')}}"></script>
{% endblock %}