{% extends "navbar.html" %}
{% block content %}

<h2>Přihlášení na motivační call</h2>
Tady se můžeš zapsat na konkrétní termín.
<hr>
<div>
    <div id="datum_je" hidden>
        <form method="post">
            <p>
                Momentálně máš vybrané tohle datum: <span id="datum_span"></span>
                {% if not uzamcene_zmeny %}
                    <button class="btn em-button" name="zmenit" value="whatever">Změnit vybraný termín</button>
                {% endif %}
            </p>
        </form>
    </div>
    <div id="datum_neni" hidden>
        <p>Momentálně nemáš vybrané žádné datum callu.</p>
    </div>
    <p id="link"></p>
</div>
{% if uzamcene_zmeny %}
<hr>
Tvému účtu byly uzamčeny změny, pravděpodobně proto, že se blíží nějaký důležitý termín. Můžeš nám ale napsat a my ti výběr termínů ještě odemkneme.
{% else %} 
<div id="terminy" hidden>
    <hr>
    <div id="jsou_pohovory" hidden>
        <p>Tady si můžeš vybrat termín motivačního callu. Po výběru je možné svojí volbu změnit. Termíny blíže než 48 hodin se tu nezobrazují.</p>
        <form method="post">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Datum a čas</th>
                            <th>Zapsání</th>
                        </tr>
                    </thead>
                    <tbody id="pohovory">
                    </tbody>
                </table>
            </div>
            <div id="pohovory"></div>
        </form>
    </div>
    <div id="nejsou_pohovory" hidden>
        <p>Nejsou vypsané žádné termíny motivačního callu.</p>
    </div>
</div>
{% endif %}


<script type="module" src="{{url_for('static', filename='js/motivacni_call.js')}}"></script>

{% endblock %}