{% extends "index.html" %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">  
        <ul class="navbar-nav">
            <li class="navbar-item"><a class="nav-link active" href="{{url_for('default_views.home')}}">Domů</a></li>
            {% if "prihlasen" in roles %}
                {% if "user" in roles %}
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('user_views.ucet')}}">Účet</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{url_for('user_views.info')}}">Info</a></li>
                    {% if "confirmed" in roles %}
                        {% if "Motivační formulář" in user_progress%}
                            <li class="nav-item"><a class="nav-link active" href="{{url_for('user_views.motivacni_formular')}}">Motivační formulář</a></li>
                        {% endif %}
                        {% if "První kontakt" in user_progress%}
                            <li class="nav-item"><a class="nav-link active" href="{{url_for('user_views.pohovory')}}">První kontakt</a></li>
                        {% endif %}
                        {% if "Domácí projekt" in user_progress %}
                            <li class="nav-item"><a class="nav-link active" href="{{url_for('user_views.odbornost')}}">Odbornost</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if "admin" in roles %}
                    <li  class="nav-item"><a class="nav-link active" href="{{url_for('admin_views.admin_dashboard')}}">Admin sekce</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link active" href="{{url_for('auth_views.logout')}}">Odhlášení</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link active" href="{{url_for('auth_views.login')}}">Přihlášení</a></li>
                <li class="nav-item"><a class="nav-link active" href="{{url_for('auth_views.register')}}">Registrace</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}


{% block footer %}
<footer>
    <ul>
        <li><a class="link" href="{{url_for('default_views.nahlasit_bug')}}">Nahlásit bug, připomínku, nápad</a></li>
        <li><a class="link" href="{{url_for('default_views.known_bugs')}}">Známé chyby</a></li>
    </ul>
</footer>
{% endblock %}