{% extends "navbar.html" %}
{% block content %}

<h2>Vítej na stránce svého účtu</h2>
<div>
    <div id="not_confirmed_div" hidden>
        Protože veškerá komunikace s tebou bude probíhat mailem, je nutné, abychom měli jistotu, že ti maily chodí.
        <form method="post" enctype="multipart/form-data">
            <button type="submit" class="btn em-button" name="overeni_emailu" value="whatever">Odeslat E-mail k ověření Vaší e-mailové adresy </button>
        </form>
    </div>
    <div id="confirmed_div" hidden>
        <hr>
        <h3>Nastavitelné údaje</h3>
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>
                        Jméno a příjmení:
                    </th>
                    <td>
                        <input type="text" id="jmeno" disabled class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>
                        Preferované oslovení:
                    </th>
                    <td>
                        <div class="row">
                            <div class="col">
                                <input type="text" id="osloveni_1p" disabled class="form-control" placeholder="1. pád">
                            </div>
                            <div class="col">
                                <input type="text" id="osloveni_5p" disabled class="form-control" placeholder="5. pád">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        Preferovaná zájmena:
                    </th>
                    <td>
                        <input type="text" id="zajmeno" disabled class="form-control" placeholder="ona/jí, on/jemu, oni/jim">
                    </td>
                </tr>
                <tr>
                    <th>
                        E-mail:
                    </th>
                    <td>
                        <input disabled class="form-control" type="email" id="email">
                    </td>
                </tr>
                <tr>
                    <th>
                        Adresa:
                    </th>
                    <td>
                        <input disabled class="form-control" type="text" id="adresa">
                    </td>
                </tr>
                <tr>
                    <th>
                        Telefonní číslo:
                    </th>
                    <td>
                        <input disabled class="form-control" type="text" id="telcislo" placeholder="zadej číslo s předvolbou">
                    </td>
                </tr>
                <tr>
                    <th>
                        Datum narození:
                    </th>
                    <td>
                        <input disabled type="date" id="datum_narozeni">
                    </td>
                </tr>
                <tr>
                    <th>
                        E-mail jednoho z rodičů:
                    </th>
                    <td>
                        <input disabled class="form-control" type="email" id="mail_rodicu">
                    </td>
                </tr>
                <tr>
                    <th>
                        Velikost trička:
                    </th>
                    <td>
                        <select id="tricko_select" disabled class="form-select">
                            <option disabled value="nic" id="nic">Vyber velikost</option>
                            <option value="XS" id="XS">XS</option>
                            <option value="S" id="S">S</option>
                            <option value="M" id="M">M</option>
                            <option value="L" id="L">L</option>
                            <option value="XL" id="XL">XL</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        Alergie / intolerance / diety: 
                    </th>
                    <td>
                        <input disabled type="text" id="alergie" class="form-control">
                        <label for="alergie" class="small">Pokud žádné nemáš, poznamenej to sem, prosíme, také.</label>
                    </td>
                </tr>
                <tr>
                    <th>
                        Na jakou školu momentálně chodíš / půjdeš?
                    </th>
                    <td>
                        <input disabled type="text" id="skola" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>
                        Od kud víš o Expedici Mars?
                    </th>
                    <td>
                        <input disabled type="text" id="dozvedeli" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>
        {% if uzamcene_zmeny %}
        <p>Tvému účtu byly uzamčeny změny, pravděpodobně proto, že se blíží nějaký důležitý termín. Pokud ještě něco potřebuješ pozměnit, napiš nám a my ti změny ještě povolíme.</p>
        {% else %}
            <button type="button" class="btn em-button" id="zmeny" value="zamknuto">Odemknout úpravy</button>
            {% endif %}
            <hr>
            <h3>Pevné údaje</h3>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            Ověřený e-mail:
                        </th>
                        <td>
                            <span id="confirmed"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Odbornost: 
                        </th>
                        <td>
                            <span id="odbornost"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Postup v Expedici: 
                        </th>
                        <td>
                            <span id="progress"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Datum registrace:  
                        </th>
                        <td>
                            <span id="datum_registrace"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Datum pohovoru: 
                        </th>
                        <td>
                            <span id="datum_pohovoru"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        <hr>
        <h3>Fotka</h3>
        <p>Na fotce by měl být vidět tvůj obličej. Fotka může mít maximálně 5 MB a může být ve formátu <code>.jpg</code>, nebo <code>.png</code></p>
        <img src="/file_api/user_profilovka" alt="profilovka" width="20%" class="my-2">
        
        {% if uzamcene_zmeny %}
        <p>Tvému účtu byly uzamčeny změny, pravděpodobně proto, že se blíží nějaký důležitý termín. Pokud ještě něco potřebuješ pozměnit, napiš nám a my ti změny ještě povolíme.</p>
        {% else %}
        <br>
        <button type="button" id="show_img_input" class="btn em-button">Nahrát fotku</button>
        <div id="img_input_div" hidden>
            <form  method="post" enctype="multipart/form-data">
                <input type="file" class="form-control my-2" accept=".jpg,.jpeg,.png" name="img_file" id="img_file">
                <button type="submit" class="btn em-button" name="img" value="1">Uložit</button>
            </form>
        </div>
        {% endif %}
        <hr>
        <h3>Prohlášení rodičů</h3>
        Prohlášení rodičů účastníka Expedice Mars je dokument, který musíš v případě postupu do prezenčních kol vyplněný přinést. Jde v něm o bezinfekčnost a souhlas s pořizováním fotografií a stáhnout lze <a class="link" href="/file_api/prohlaseni_rodicu" download="prohlaseni_rodicu.docx">tady.</a>
    </div>
</div>

<form method="post" id="form">
    <input type="text" hidden id="result" name="result">
    <input type="file" hidden id="result_image" name="result_image">
</form>

<script type="module" src="{{url_for('static', filename='js/ucet.js')}}"></script>
{% endblock %}