{% extends "navbar.html" %}
{% block content %}

<h2>Vítej na stránce svého účtu</h2>
<div>
    <div id="not_confirmed_div">
        Protože veškerá komunikace s Vámi bude probíhat mailem, je nutné, abychom měli jistotu, že vám maily chodí.
        <form method="post" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary" name="overeni_emailu" value="whatever">Odeslat E-mail k ověření Vaší e-mailové adresy </button>
        </form>
    </div>
    <div id="confirmed_div">
        <hr>
        <h3>Nastavitelné údaje</h3>
        <div class="container">
            <div class="row my-2">
                <div class="col-sm">
                    Jméno:
                </div>
                <div class="col">
                    <input type="text" id="jmeno" disabled class="form-control"  value="1">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    E-mail:
                </div>
                <div class="col">
                    <input disabled class="form-control" type="email" id="email">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Adresa:
                </div>
                <div class="col">
                    <input disabled class="form-control" type="text" id="adresa">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Telefoní číslo:
                </div>
                <div class="col">
                    <input disabled class="form-control" type="text" id="telcislo">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Datum narození:
                </div>
                <div class="col">
                    <input disabled type="date" id="datum_narozeni">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    E-mail jednoho z rodičů:
                </div>
                <div class="col">
                    <input disabled class="form-control" type="email" id="mail_rodicu">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Velikost trička:
                </div>
                <div class="col">
                    <select id="tricko_select" disabled>
                        <option disabled value="nic" id="nic">Vyber velikost</option>
                        <option value="XS" id="XS">XS</option>
                        <option value="S" id="S">S</option>
                        <option value="M" id="M">M</option>
                        <option value="L" id="L">L</option>
                        <option value="XL" id="XL">XL</option>
                    </select>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Alergie / intolerance / diety: 
                </div>
                <div class="col">
                    <input disabled type="text" id="alergie" class="form-control">
                    <label for="alergie" class="small">Pokud žádné nemáš, poznamenej to sem, prosíme, také.</label>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Na jakou školu momentálně chodíš / půjdeš?
                </div>
                <div class="col">
                    <input disabled type="text" id="skola" class="form-control">
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Kde jsi se o Expedici Mars dozvěděla/dozvěděl?
                </div>
                <div class="col">
                    <input disabled type="text" id="dozvedeli" class="form-control">
                </div>
            </div>
            
        </div>
        {% if uzamcene_zmeny %}
        <p>Tvému účtu byly uzamčeny změny, pravděpodobně proto, že se blíží nějaký důležitý termín. Pokud ještě něco potřebuješ pozměnit, napiš nám a my ti změny ještě povolíme.</p>
        {% else %}
            <button type="button" class="btn btn-outline-primary" id="zmeny" value="zamknuto">Odemknout úpravy</button>
        {% endif %}
        <hr>
        <h3>Pevné údaje</h3>
        <div class="container">
            <div class="row my-2">
                <div class="col-sm">
                    Ověřený e-mail:
                </div>
                <div class="col">
                    <span id="confirmed"></span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Souhlas rodičů: 
                </div>
                <div class="col">
                    <span id="souhlas_rodicu"></span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Odbornost: 
                </div>
                <div class="col">
                    <span id="odbornost"></span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Postup v Expedici: 
                </div>
                <div class="col">
                    <span id="progress"></span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Datum registrace:  
                </div>
                <div class="col">
                    <span id="datum_registrace"></span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-sm">
                    Datum pohovoru: 
                </div>
                <div class="col">
                    <span id="datum_pohovoru"></span>
                </div>
            </div>
        </div>
        <hr>
        <h3>Fotka</h3>
        <img src="/file_api/user_profilovka" alt="profilovka" width="20%" class="my-2">
        
        {% if uzamcene_zmeny %}
        <p>Tvému účtu byly uzamčeny změny, pravděpodobně proto, že se blíží nějaký důležitý termín. Pokud ještě něco potřebuješ pozměnit, napiš nám a my ti změny ještě povolíme.</p>
        {% else %}
        <br>
        <button type="button" id="show_img_input" class="btn btn-outline-primary">Nahrát fotku</button>
        <div id="img_input_div" hidden>
            <form  method="post" enctype="multipart/form-data">
                <input type="file" class="form-control my-2" accept="image/*" name="img_file" id="img_file">
                <button type="submit" class="btn btn-outline-primary" name="img" value="1">Uložit</button>
            </form>
        </div>
        {% endif %}
        <hr>
        <h3>Prohlášení rodičů</h3>
        Prohlášení rodičů účastníka semifinále Expedice Mars je dokument, který musíš v případě postupu do semifinále vyplněný přinést. Jde v něm o bezinfekčnost a souhlas s pořizováním fotografií a stáhnout lze <a href="/file_api/prohlaseni_rodicu" download="prohlaseni_rodicu.docx">tady.</a>
    </div>
</div>

<form method="post" id="form">
    <input type="text" hidden id="result" name="result">
    <input type="file" hidden id="result_image" name="result_image">
</form>

<script type="module" src="{{url_for('static', filename='js/ucet.js')}}"></script>
{% endblock %}